@if (Request.IsAuthenticated) {
    <ul>
        @if (Int32.Parse(User.Identity.Name.ToString().Split(',')[1]) == 3)
        {
            <li>@Html.ActionLink("Mi Perfil", "Detalles", "Alcance", new { id = Int32.Parse(User.Identity.Name.ToString().Split(',')[0]) }, null)</li>
        }
        else
        {
            <li>@Html.ActionLink("Mi Perfil", "Detalles", "Usuarios", new { id = Int32.Parse(User.Identity.Name.ToString().Split(',')[0]) }, new { @onclick = "sessionStorage.setItem('Route', 'home');" })</li>
        }

        <li>@Html.ActionLink("Cerrar Sesión", "CerrarSesion", "Usuarios", routeValues: null, htmlAttributes: new { id = "logoutLink" })</li>
    </ul>
} else {
    <ul>
        <li>@Html.ActionLink("Inscribete", "Crear", "Usuarios", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li><a href="#" data-validation="false" title="Iniciar Sesión" class="modal_ajax_btn" data-title="Iniciar Sesión" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("IniciarSesionPopUp", "Usuarios", routeValues: null)">Iniciar Sesión</a></li>
    </ul>
}
