@if (Request.IsAuthenticated) {
    <ul>
        @if (Int32.Parse(User.Identity.Name.ToString().Substring(User.Identity.Name.ToString().LastIndexOf('=') + 1).Trim()) == 3)
        {
            <li>@Html.ActionLink("Mi Perfil", "Detalles", "Alcance", new { id = Int32.Parse(User.Identity.Name.Substring(0, User.Identity.Name.IndexOf("u")).Trim()) }, null)</li>
        }
        else
        {
            <li>@Html.ActionLink("Mi Perfil", "Detalles", "Usuarios", new { id = Int32.Parse(User.Identity.Name.Substring(0, User.Identity.Name.IndexOf("u")).Trim()) }, null)</li>
        }
        
        <li>@Html.ActionLink("Cerrar Sesión", "CerrarSesion", "Usuarios", routeValues: null, htmlAttributes: new { id = "logoutLink" })</li>
    </ul>
} else {
    <ul>
        <li>@Html.ActionLink("Inscribete", "Crear", "Usuarios", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar Sesión", "IniciarSesion", "Usuarios", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
