@if (Request.IsAuthenticated) {
    @*<text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>*@
    
    <ul>

        <li>@Html.ActionLink("Mi Perfil", "Detalles", "Usuarios", new { id = Int32.Parse(User.Identity.Name) }, null)</li>
        <li>@Html.ActionLink("Cerrar Sesión", "CerrarSesion", "Usuarios", routeValues: null, htmlAttributes: new { id = "logoutLink" })</li>
    </ul>
} else {
    <ul>
        <li>@Html.ActionLink("Inscribete", "Crear", "Usuarios", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar Sesión", "IniciarSesion", "Usuarios", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
