@model OPDB.Models.UserViewModel

@using (Ajax.BeginForm("ChangePassword", "Usuarios", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "errors" }))
{
    @Html.HiddenFor(model => model.User.UserID)
    @Html.HiddenFor(model => model.User.Email)
    @Html.HiddenFor(model => model.User.PhoneNumber)
    @Html.HiddenFor(model => model.User.UserTypeID)
    @Html.HiddenFor(model => model.User.UserStatus)
    @Html.HiddenFor(model => model.User.CreateDate)
    @Html.HiddenFor(model => model.User.PasswordSalt)
    @Html.HiddenFor(model => model.Reader, new { @id = "user" })

    <ul id="errors" style="color: red; list-style-type: none;"></ul>


    <div id="oldPassword">
        <div class="editor-label">
            @Html.LabelFor(model => model.OldPassword, "Contraseña Actual *")
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.OldPassword)
        </div>
    </div>



    <div class="editor-label">
        @Html.LabelFor(model => model.User.UserPassword, "Nueva Contraseña *")
    </div>
    <div class="editor-field">
        @Html.PasswordFor(model => model.User.UserPassword)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.ConfirmPassword, "Confirmar Contraseña *")
    </div>
    <div class="editor-field">
        @Html.PasswordFor(model => model.ConfirmPassword)
    </div>

    <p style="text-align:left;">
        <input type="submit" class="btn" style="float:left !important; width:40% !important; margin-left: 30px !important;" value="Guardar" /> <input type="button" value="Cancelar" data-action="cancel" data-url="@Url.Action("ChangePasswordView", "Usuarios", new { id = Model.User.UserID })" class="btn" style="float:right !important; width:40% !important; margin-bottom: 20px !important; margin-right: 30px !important;" onclick="modalClose()" />
    </p>
}

<script type="text/javascript">
    $(document).ready(function () {

        if (document.getElementById('user').value == "Admin") {
            document.getElementById('oldPassword').setAttribute("hidden", "hidden");
        }

        else if (document.getElementById('user').value == "User") {
            document.getElementById('oldPassword').removeAttribute("hidden", "hidden");
        }

    });

</script>
