@model OPDB.Models.ActivityViewModel


    <div>
       <h3>Contactos</h3>
        <table id="activityContacts" style="border:none;">
            <thead hidden>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var contact in Model.ActivityContacts)
                {
                    <tr style="background-color: #ecfaff !important;">
                        <td>@contact.UserDetail.FirstName @contact.UserDetail.MiddleInitial @contact.UserDetail.LastName</td>
                        <td>@contact.User.Email</td>
                        <td>@contact.User.PhoneNumber</td>
                    </tr>
                }
            </tbody>

        </table>
    </div><br />
   <div> <h3>Recursos Necesarios</h3>
       <table id="activityResources" style="border:none;">
           <thead hidden>
               <tr>
                   <th></th>
                   <th></th>
                   <th></th>
               </tr>
           </thead>
           <tbody>
               @foreach (var resource in Model.ActivityResources)
               {
                   <tr style="background-color: #ecfaff !important;">
                       <td><a data-dropdown="hover-@resource.ActivityResource.ActivityResourceID" data-options="is_hover:true">@resource.Resource.Resource1</a></td>
                       <td>
                           <div id="hover-@resource.ActivityResource.ActivityResourceID" class="small content f-dropdown" data-dropdown-content>
                               <p style="text-align:left !important; font-size: 0.77778rem !important;"><b>Unidad:</b> @resource.Unit.UnitName<br />
                               <b>Edificio:</b> @resource.Unit.Building<br />
                               <b>Oficina:</b> @resource.Unit.RoomNumber<br />
                               <b>Extensión:</b> @resource.Unit.Extension</p>
                           </div>
                       </td>
                       <td>
                       @if (resource.ActivityResource.ResourceStatus == false)
                       {
                        <a title="Pendiente" id="activity-@resource.ActivityResource.ActivityResourceID" style="background-color:#222222 !important;" class="btn btn-sm" onclick="approve(this)" data-url="@Url.Action("Aprobar", "Actividades", new { id = resource.ActivityResource.ActivityResourceID })"><i class="fa fa-question"></i> Pendiente</a>
                       }
                       else
                       {
                        <a title="Aprobado" style="background-color:#222222 !important; color:white; cursor:default;" class="btn-sm"><i class="fa fa-check"></i> Aprobado</a>
                       }
                       </td>
                                             
                       
                       
                   </tr>
                    
               }
               
           </tbody>

       </table>
</div><br />

<script src="~/Scripts/myScripts.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        document.getElementsByTagName("loading")[0].innerHTML = "";

        $('#activityResources').DataTable({
            "sDom": '<"top">t<"bottom"pr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "iDisplayLength": 3,
            "aaSorting": [[0, "asc"]],
            "oLanguage": {
                "sEmptyTable": "No se necesitan recursos",
                "sZeroRecords": "No se ha encontrado ningún registro",
                "sSearch": "Buscar:"
            }
        });

        $('#activityContacts').DataTable({
            "sDom": '<"top">t<"bottom"pr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "iDisplayLength": 3,
            "aaSorting": [[0, "asc"]],
            "oLanguage": {
                "sEmptyTable": "No existen contactos.",
                "sZeroRecords": "No se ha encontrado ningún registro",
                "sSearch": "Buscar:"
            }
        });

        $(document).foundation('dropdown', 'reflow');
        

    });    

</script>