@model OPDB.Models.ActivityViewModel

@{
    ViewBag.Title = "Crear Nota";
}

@using (Ajax.BeginForm("GuardarNota", "Actividades", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "validation"}))
{
    @Html.ValidationSummary(false)
    @Html.HiddenFor(model => model.Note.ActivityID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Note.NoteTypeID, "Tipo de Nota *")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Note.NoteTypeID, Model.NoteTypes, new { @style = "margin: 0 0 1rem 0 !important; padding: 0.5rem !important; height: 2.55rem !important; width: 100% !important;" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Note.Note, "Nota *")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Note.Note, new { @style = "resize: none; height: 100px; width: 100% !important;" })
        </div>

        <p>
            <input type="submit" class="btn" style="float:left !important; width:40% !important; margin-left: 30px !important;" value="Crear" /> <input type="button" value="Cancelar" class="btn" style="float:right !important; width:40% !important; margin-bottom: 20px !important; margin-right: 30px !important;" onclick="modalClose()" />
        </p>
    
}

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
