@model OPDB.Models.Activity

@{
    ViewBag.Title = "Crear";
}

<h2>Crear Actividad</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Activity</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActivityTypeID, "Tipo de Actividad")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ActivityTypeID", String.Empty)
            @Html.ValidationMessageFor(model => model.ActivityTypeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title, "Título de Actividad")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Purpose, "Propósito")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Purpose)
            @Html.ValidationMessageFor(model => model.Purpose)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Location, "Localización")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Location)
            @Html.ValidationMessageFor(model => model.Location)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActivityDate, "Fecha de Actividad")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ActivityDate)
            @Html.ValidationMessageFor(model => model.ActivityDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActivityTime, "Hora de Actividad")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ActivityTime)
            @Html.ValidationMessageFor(model => model.ActivityTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SchoolID, "Escuela")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SchoolID", String.Empty)
            @Html.ValidationMessageFor(model => model.SchoolID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
