@model OPDB.Models.ActivityViewModel

@{
    ViewBag.Title = "Crear";
}

<h2>Crear Actividad</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Activity</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.activity.ActivityTypeID, "Tipo de Actividad")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.activity.ActivityTypeID, Model.ActivityTypes)
            @Html.ValidationMessageFor(model => model.activity.ActivityTypeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.activity.Title, "Título de Actividad")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.activity.Title)
            @Html.ValidationMessageFor(model => model.activity.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.activity.Purpose, "Propósito")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.activity.Purpose)
            @Html.ValidationMessageFor(model => model.activity.Purpose)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.activity.Location, "Localización")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.activity.Location)
            @Html.ValidationMessageFor(model => model.activity.Location)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.activity.ActivityDate, "Fecha de Actividad")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.activity.ActivityDate, new { id = "datepicker" })
            @Html.ValidationMessageFor(model => model.activity.ActivityDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.activity.ActivityTime, "Hora de Actividad")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.activity.ActivityTime, new { id = "timepicker" })
            @Html.ValidationMessageFor(model => model.activity.ActivityTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.activity.SchoolID, "Escuela")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.activity.SchoolID, Model.SchoolList)
            @Html.ValidationMessageFor(model => model.activity.SchoolID)
        </div>

        <p>
            <input type="submit" value="Crear" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

<script>
    $(function () {
        $("#datepicker").datepicker({ dateFormat: 'dd/mm/yy' }).val();
    });

    $(function () {
        $("#timepicker").timepicker({ step: 15 }).val();
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
