@model OPDB.Models.ActivityViewModel

@{
    ViewBag.Title = "Nueva Actividad";
}

<style>
    .text-box {
        width: 500px;
    }

    input[type="text"][readonly] {
        background-color: white;
    }

    .editor-label {
        text-align: left;
    }

    span {
        font-size: 0.875rem;
        color: #4d4d4d;
    }
</style>

<h2>Nueva Actividad</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <center>
        <fieldset style="width:500px;">
            <legend>Activity</legend>
            <label>Todos los campos con (*) son requeridos</label><br />
            <div class="editor-label">
                @Html.LabelFor(model => model.Activity.UserID, "Entidad de Alcance")
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Activity.UserID, Model.OutreachEntities, new { @style = "width: 500px !important; height: 2.55rem !important;" })
            </div><br />
            <div class="editor-label">
                @Html.LabelFor(model => model.Activity.ActivityTypeID, "Tipo de Actividad")
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Activity.ActivityTypeID, Model.ActivityTypes, new { @style = "width: 500px !important; height: 2.55rem !important;" })
            </div><br />

            <div class="editor-label">
                @Html.LabelFor(model => model.Activity.Title, "Título de Actividad *")
            </div>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.Activity.Title)
                @Html.EditorFor(model => model.Activity.Title)               
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Activity.Purpose, "Propósito *")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Activity.Purpose)
                @Html.ValidationMessageFor(model => model.Activity.Purpose)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Activity.Location, "Localización")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Activity.Location)
                @Html.ValidationMessageFor(model => model.Activity.Location)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Activity.Details, "Detalles")
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Activity.Details, new { @style = "width: 500px !important; height: 300px !important;", @id = "bbcodeEditor" })
            </div><br />
            <div class="editor-field">
                <div class="large-6 columns" style="text-align:left;">
                    <span>Fecha </span><br />
                    @Html.TextBoxFor(model => model.Activity.ActivityDate, new { id = "datepicker", @readonly = true }) &nbsp;<i class="fa fa-calendar"></i>
                </div>
                <div class="large-6 columns" style="text-align:left;">
                    <span>Hora </span><br />
                    @Html.TextBoxFor(model => model.Activity.ActivityTime, new { id = "timepicker" }) &nbsp;<i class="fa fa-clock-o"></i>
                </div>
                @Html.ValidationMessageFor(model => model.Activity.ActivityDate)
                @Html.ValidationMessageFor(model => model.Activity.ActivityTime)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Activity.SchoolID, "Escuela")
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Activity.SchoolID, Model.SchoolList, new { @style = "width: 500px !important; height: 2.55rem !important;" })
            </div><br />
            <div class="editor-label">
                @Html.LabelFor(model => model.ContactIDs, "Contactos de la Actividad")
            </div>
            <div class="editor-field" style="text-align:left !important;">
                @Html.DropDownListFor(model => model.ContactIDs, Model.Contacts, new { @style = "width: 500px !important;", @multiple = "multiple", @class = "chosen-select", @data_placeholder = "Buscar..." })
            </div><br />
            <div class="editor-label">
                @Html.LabelFor(model => model.ResourceIDs, "Recursos Necesarios")
            </div>
            <div class="editor-field" style="text-align:left !important;">
                @Html.DropDownListFor(model => model.ResourceIDs, Model.Resources, new { @style = "width: 500px !important;", @multiple = "multiple", @class = "chosen-select", @data_placeholder = "Buscar..." })
            </div><br />
            <p style="text-align:left;">
                <input type="submit" class="btn" style="float:left !important; width:40% !important; margin-left: 30px !important;" value="Crear" /> <input type="button" value="Cancelar" class="btn" style="float:right !important; width:40% !important; margin-bottom: 20px !important; margin-right: 30px !important;" onclick="window.history.back()" />                
            </p>
        </fieldset>
    </center>
}
<script>
    $(document).ready(function(){
        $("#datepicker").datepicker({ dateFormat: 'dd/mm/yy' }).val();

        $("#timepicker").timepicker({
            'step': 15,
            'timeFormat': 'h:iA'
        }).val();

        $(".chosen-select").chosen({ no_results_text: "No se encontró ningún record." });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
