@model OPDB.Models.ActivityViewModel

@{
    ViewBag.Title = "Detalles";
}

<style>
    select {
        width: 50px !important;
        padding: 0.2rem !important;
        height: 1.6rem !important;
        margin: 0 !important;
    }

    label {
        width: 100% !important;
        cursor:default !important;
    }

    input[type="search"] {
        padding: 0.2rem;
    }

    th, td {
        text-align: center !important;
    }

    .last, .first, .previous, .next {
        display: none !important;
    }

    /*playlist css*/

    #playlist {
        display: table;
    }

        #playlist li {
            cursor: pointer;
            padding: 8px;
        }

            #playlist li:hover {
                color: blue;
            }

    #videoarea {
        float: left;
        width: 640px;
        height: 480px;
        margin: 10px;
        border: 1px solid silver;
    }

    .thumb {
        width: 200px;
        height: 150px;
        overflow: hidden;
    }

        .thumb img {
            min-width: 200px;
            min-height: 150px;
            width: 200px;
        }

    a span i:hover {
        color: #008cba;
    }

    .link:hover {
        color: #008cba !important;
    }

    .fa-remove:hover {
        color: #008cba !important;
    }

    .disabled{
        pointer-events:none;
        cursor:default;
    }
</style>


<h2 style="text-align:center;">@Model.Activity.Title</h2>
<div class="panel">
    <div class="display-label">
        @Html.LabelFor(model => model.Activity.Purpose, "Propósito")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Activity.Purpose)
    </div>
</div>

<div class="columns panel callout">
    <div class="large-5 columns">
        <h3>Detalles de Actividad</h3><br />
        <div class="display-label">
            @Html.LabelFor(model => model.Activity.ActivityType.ActivityType1, "Tipo de Actividad")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Activity.ActivityType.ActivityType1)
        </div>
        <br />
        <div class="display-label">
            @Html.LabelFor(model => model.Activity.ActivityMajor.ActivityMajor1, "Área de Especialidad")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Activity.ActivityMajor.ActivityMajor1)
        </div>
        <br />
        @if (Model.ActivityDynamic.ActivityDynamic1 != null && Model.ActivityDynamic.ActivityDynamic1 != "")
        {
            <div class="display-label">
                @Html.LabelFor(model => model.ActivityDynamic.ActivityDynamic1, "Dinámica de la Actividad")
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.ActivityDynamic.ActivityDynamic1)
            </div><br />
        }
        <div class="display-label">
            @Html.LabelFor(model => model.Activity.TargetPopulation.TargetPopulation1, "Audiencia")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Activity.TargetPopulation.TargetPopulation1)
        </div>
        <br />
        <div class="display-label">
            @Html.LabelFor(model => model.OutreachEntity.OutreachEntityName, "Organizada Por")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.OutreachEntity.OutreachEntityName)
        </div>
        <br />
        <div class="display-label">
            @Html.LabelFor(model => model.User.Email, "Correo Electrónico")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.User.Email)
        </div><br />
        @if (Model.User.PhoneNumber != null && Model.User.PhoneNumber != "")
        {
            <div class="display-label">
                @Html.LabelFor(model => model.User.PhoneNumber, "Número Telefónico")
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.User.PhoneNumber)
            </div><br />
        }
        @if (Model.Activity.Location != "" && Model.Activity.Location != null)
        {
            <div class="display-label">
                @Html.LabelFor(model => model.Activity.Location, "Localización")
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Activity.Location)
            </div>
            <br />
        }
        @if (Model.ActivityDate != "")
        {
            <div class="display-label">
                @Html.LabelFor(model => model.Activity.ActivityDate, "Fecha")
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.ActivityDate)
            </div>
            <br />}
        @if (Model.Activity.ActivityTime != "" && Model.Activity.ActivityTime != null)
        {
            <div class="display-label">
                @Html.LabelFor(model => model.Activity.ActivityTime, "Hora")
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Activity.ActivityTime)
            </div>
            <br />
        }
        <a title="Regresar" onclick="window.history.back()"><span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x" style="color:#222222;"></i><i class="fa fa-arrow-left fa-stack-1x fa-inverse"></i></span></a>
        @if (User.Identity.IsAuthenticated)
        {
            if (Model.Interested != true && Int32.Parse(User.Identity.Name.Split(',')[1]) != 3)
            {
                <a title="Me Interesa" onclick="showInterest(this)" data-url="@Url.Action("Interes", "Actividades", new { id = Model.Activity.ActivityID })"><span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x" style="color:#222222;"></i><i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i></span></a>
            }
            
            if (Int32.Parse(User.Identity.Name.Split(',')[0]) == Model.Activity.UserID && Boolean.Parse(User.Identity.Name.Split(',')[2]))
            {
                <a title="Editar Actividad" href="@Url.Action("Editar", "Actividades", new {id = Model.Activity.ActivityID })"><span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x" style="color:#222222;"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a>
            }
            else if (Int32.Parse(User.Identity.Name.Split(',')[1]) == 1) 
            { 
                <a title="Editar Actividad" href="@Url.Action("EditarActividad", "Actividades", new {source = "Detalles", id = Model.Activity.ActivityID })"><span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x" style="color:#222222;"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a>
            }

            if ((Int32.Parse(User.Identity.Name.Split(',')[0]) == Model.Activity.UserID && Boolean.Parse(User.Identity.Name.Split(',')[2])) || Int32.Parse(User.Identity.Name.Split(',')[1]) == 1)
            {
                <a href="#" title="Añadir Multimedia" class="modal_ajax_btn" data-title="Añadir Multimedia" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("MediaUpload", "Actividades", new { id = Model.Activity.ActivityID })"><span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x" style="color:#222222;"></i><i class="fa fa-file-video-o fa-stack-1x fa-inverse"></i></span></a>
                <a title="Ver Notas" id="verNotas" onclick="loadRightDetailsView(this)" data-url="@Url.Action("Notas", "Actividades", new { id = Model.Activity.ActivityID })"><span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x" style="color:#222222;"></i><i class="fa fa-file fa-stack-1x fa-inverse"></i></span></a>
                <a title="Ver Contactos y Recursos" id="verContactos" onclick="loadRightDetailsView(this)" data-url="@Url.Action("ContactosyRecursos", "Actividades", new { id = Model.Activity.ActivityID })"><span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x" style="color:#222222;"></i><i class="fa fa-user fa-stack-1x fa-inverse"></i></span></a>
            }

        }
        

    </div>

    <div class="large-7 columns">
        <loading></loading>
        <div id="detailsRight">

        </div>

    </div>

</div>
<br />

@if (Model.Activity.Details != null && Model.Activity.Details != "")
{
    <div id="activityDetails" class="large-12 columns panel callout">
        <h4>Más Detalles</h4><br />
        @Html.Raw(Model.Activity.Details)
    </div>
}

@if (Model.Videos.Count != 0 || Model.Photos.Count != 0)
{
    <div class="large-12 columns callout panel">
        <h4>Multimedia</h4>

        @if (Model.Videos.Count != 0)
        {
            <div class="large-3 columns playlistScroll">
                <h5>Lista de Reproducción</h5>
                <div class="playlistScroll" style="height:450px; overflow-y:hidden;">
                    <ol id="playlist" class="rounded-list">
                        @foreach (var video in Model.Videos)
                        {
                            <li data-url="@video.MediaPath"><a>@video.MediaTitle</a></li>
                        }
                    </ol>
                </div>
            </div>
    <div id="mediaFrame" class="large-9 columns disabled">
        <iframe width="560" id="videoarea" height="315" src="//www.youtube.com/embed/" frameborder="0" allowfullscreen></iframe>
    </div>
        }
        @if (Model.Photos.Count != 0)
        {
            <ul class="clearing-thumbs" data-clearing>
                @foreach (var photo in Model.Photos)
                {
                    <li><a class="th thumb" href="@photo.MediaPath"><img data-caption="@photo.MediaTitle" src="@photo.MediaPath"></a></li>
                }
            </ul>
        }

    </div>
}
<h4>Comentarios</h4>

<table id="activityFeedback" style=" border: none !important;">
    <thead hidden>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var feedback in Model.Feedbacks)
        {
            <tr>
                <td style="float:left;">
                    @feedback.Feedback.Feedback1 - @feedback.UserDetail.FirstName @if (feedback.UserDetail.MiddleInitial != null)
                    { @feedback.UserDetail.MiddleInitial } @feedback.UserDetail.LastName
                </td>
                <td style="width:6%;">
                    @if (Int32.Parse(User.Identity.Name.Split(',')[0]) == feedback.Feedback.UserID || Int32.Parse(User.Identity.Name.Split(',')[1]) == 1)
                    {
                        <a href="#" title="Editar" data-title="Editar Comentario" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("EditarComentario", "Actividades", new { id = feedback.Feedback.FeedbackID })" class="modal_ajax_btn link"><i class="fa fa-pencil"></i></a>
                        <i title="Remover" style="cursor:pointer;" class="fa fa-remove" onclick="removeRecord(this, 'activityFeedback')" data-url="@Url.Action("RemoverComentario", "Actividades", new { id = feedback.Feedback.FeedbackID })"></i>
                    }
                </td>
            </tr>
        }
    </tbody>

</table><br />
@if (User.Identity.IsAuthenticated)
{
    if (Int32.Parse(User.Identity.Name.Split(',')[1]) != 3)
    {
        <a href="#" title="Comentar" class="btn modal_ajax_btn" data-title="Nuevo Comentario" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("NuevoComentario", "Actividades", new { id = Model.Activity.ActivityID })"> Comentar</a><br /><br />}
}


<script src="~/Scripts/myScripts.js"></script>
<script>
    $(document).ready(function () {
        $('#activityFeedback').DataTable({
            "sDom": '<"top">t<"bottom"pr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "iDisplayLength": 10,
            "oLanguage": {
                "sEmptyTable": "No se ha recibido ningún comentario",
                "sZeroRecords": "No se ha encontrado ningún registro"
            }
        });

        $(function () {
            $("#playlist li").on("click", function () {
                $('#mediaFrame').removeClass("disabled");
                var currentUrl = $("#videoarea").attr("src");
                var dataUrl = $(this).attr("data-url");
                var newUrl = "";

                var regExp = /^.*(youtu.be\/|v\/|e\/|u\/\w+\/|embed\/|v=)([^#\&\?]*).*/;
                var match = dataUrl.match(regExp);
                if (match && match[2].length == 11)
                    newUrl = match[2];

                currentUrl = currentUrl.substr(0, 24);
                $("#videoarea").attr({
                    "src": currentUrl + newUrl
                });
            });
        });

        $(document).foundation('clearing', 'reflow');
        $(".playlistScroll").niceScroll();        
        loadRightDetailsView("<a id='verContactos' data-url='@Url.Action("ContactosyRecursos", "Actividades", new { id = Model.Activity.ActivityID })'></a>");

    });
</script>