@model OPDB.Models.ActivityViewModel

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<fieldset>
    <legend>Activity</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.activity.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.activity.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.activity.Purpose)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.activity.Purpose)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.activity.Location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.activity.Location)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.activity.ActivityDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.activity.ActivityDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.activity.ActivityTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.activity.ActivityTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.activity.School.SchoolName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.activity.School.SchoolName)
    </div>
</fieldset>

<p>
    @Html.ActionLink("Editar", "Editar", new { id=Model.activity.ActivityID }) |
    @Html.ActionLink("Añadir Nota", "CrearNota", new { id = Model.activity.ActivityID }) |
    @Html.ActionLink("Devuelta", "Index")
</p>
