@model OPDB.Models.ActivityViewModel

@{
    ViewBag.Title = "Detalles";
}

<style>
    select {
        width: 50px !important;
        padding: 0.2rem !important;
        height: 1.5rem !important;
        margin: 0 !important;
    }

    label {
        width: 100% !important;
    }

    input[type="search"] {
        padding: 0.2rem;
    }

    th, td {
        text-align: center !important;
    }

    /*#activityContacts tr {
        background-color: none !important;
    }*/

    .last, .first, .previous, .next {
        display: none !important;
    }

    /*playlist css*/

    #playlist {
        display: table;
    }

        #playlist li {
            cursor: pointer;
            padding: 8px;
        }

            #playlist li:hover {
                color: blue;
            }

    #videoarea {
        float: left;
        width: 640px;
        height: 480px;
        margin: 10px;
        border: 1px solid silver;
    }

    .thumb {
        width: 200px;
        height: 150px;
        overflow: hidden;
    }

        .thumb img {
            min-width: 200px;
            min-height: 150px;
            width: 200px;
        }

    a span i:hover{
       color: #008cba;
    }

     .link:hover{
          color: #008cba !important;
      }

      .fa-remove:hover{
          color: #008cba !important;
      }
</style>



    <h2 style="text-align:center;">@Model.Activity.Title</h2>
<div class="panel">
    <div class="display-label">
        @Html.LabelFor(model => model.Activity.Purpose, "Propósito")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Activity.Purpose)
    </div>
</div>

<div class="columns panel callout">
    <div class="large-5 columns">
        <h3>Detalles de Actividad</h3><br />

        @if (Model.Activity.Location != "" && Model.Activity.Location != null) { 
        <div class="display-label">
            @Html.LabelFor(model => model.Activity.Location, "Localización")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Activity.Location)
        </div>
        <br />
        }
        @if (Model.ActivityDate != "" )
        {
            <div class="display-label">
                @Html.LabelFor(model => model.Activity.ActivityDate, "Fecha")
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.ActivityDate)
            </div>
            <br />}
        @if (Model.Activity.ActivityTime != "" && Model.Activity.ActivityTime != null)
        {
            <div class="display-label">
                @Html.LabelFor(model => model.Activity.ActivityTime, "Hora")
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Activity.ActivityTime)
            </div>
            <br />
        }
        
        @if (Model.Interested != true)
        { <a title="Me Interesa" onclick="showInterest(this)" data-url="@Url.Action("Interes", "Actividades", new { id = Model.Activity.ActivityID })"><span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x" style="color:#222222;"></i><i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i></span></a>}
        <a title="Editar Actividad" href="@Url.Action("Editar", "Actividades", new { id = Model.Activity.ActivityID })"><span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x" style="color:#222222;"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a>
        <a title="Regresar" onclick="window.history.back()"><span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x" style="color:#222222;"></i><i class="fa fa-arrow-left fa-stack-1x fa-inverse"></i></span></a>
        <a href="#" title="Añadir Multimedia" class="modal_ajax_btn" data-title="Añadir Multimedia" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("MediaUpload", "Actividades", new { id = Model.Activity.ActivityID })"><span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x" style="color:#222222;"></i><i class="fa fa-file-video-o fa-stack-1x fa-inverse"></i></span></a>
        <a title="Ver Notas" id="verNotas" onclick="loadRightDetailsView(this)" data-url="@Url.Action("Notas", "Actividades", new { id = Model.Activity.ActivityID })"><span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x" style="color:#222222;"></i><i class="fa fa-file fa-stack-1x fa-inverse"></i></span></a>
        <a title="Ver Contactos y Recursos" id="verContactos" onclick="loadRightDetailsView(this)" data-url="@Url.Action("ContactosyRecursos", "Actividades", new { id = Model.Activity.ActivityID })"><span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x" style="color:#222222;"></i><i class="fa fa-user fa-stack-1x fa-inverse"></i></span></a>
        
     </div>

    <div  class="large-7 columns">
        <loading></loading>
            <div id="detailsRight">

            </div>
        
    </div>
    
</div>
@*<div><input type="button" class="btn" value="Editar" onclick="location.href='@Url.Action("Editar", "Actividades", new { id = Model.Activity.ActivityID })'"/><input type="button" class="btn" value="Regresar" onclick="window.history.back()" /><a href="#" title="Añadir Multimedia" class="modal_ajax_btn" data-title="Añadir Multimedia" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("MediaUpload", "Actividades", new { id = Model.Activity.ActivityID })"><input type="button" class="btn" value="Añadir Multimedia" /></a>
    <input type="button" id="verNotas" class="btn" value="Notas" onclick="loadRightDetailsView(this)" data-url="@Url.Action("Notas", "Actividades", new { id = Model.Activity.ActivityID })"/> <input type="button" id="verContactos" class="btn" value="Contactos Y Recursos" onclick="loadRightDetailsView(this)" data-url="@Url.Action("ContactosyRecursos", "Actividades", new { id = Model.Activity.ActivityID })" />
    </div>*@
<br />

@if (Model.Videos.Count != 0 || Model.Photos.Count != 0)
{
    <div class="large-12 columns callout panel">
        <h4>Multimedia</h4>

        @if (Model.Videos.Count != 0)
        {
            <div class="large-3 columns">
                <h5>Lista de Reproducción</h5>
                <ul id="playlist">
                    @foreach (var video in Model.Videos)
                    {
                        <li data-url="@video.MediaPath">@video.MediaTitle</li>
                    }
                </ul>
            </div>
            <div id="mediaFrame" class="large-9 columns">
                <iframe width="560" id="videoarea" height="315" src="//www.youtube.com/embed/" frameborder="0" allowfullscreen></iframe>
            </div>
        }
        @if (Model.Photos.Count != 0)
        {
                <ul class="clearing-thumbs" data-clearing>
                    @foreach (var photo in Model.Photos)
                    {
                        <li><a class="th thumb" href="@photo.MediaPath"><img data-caption="@photo.MediaTitle" src="@photo.MediaPath"></a></li>
                    }
                </ul>
        }

    </div>
}
<h4>Comentarios</h4>

<table id="activityFeedback" style=" border: none !important;">
    <thead hidden>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var feedback in Model.Feedbacks)
        {
            <tr>
                <td style="float:left;">@feedback.Feedback.Feedback1 - @feedback.UserDetail.FirstName @if (feedback.UserDetail.MiddleInitial != null)
                                                                                                { @feedback.UserDetail.MiddleInitial } @feedback.UserDetail.LastName</td>
                <td style="width:6%;">
                    <a href="#" title="Editar" data-title="Editar Comentario" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("EditarComentario", "Actividades", new { id = feedback.Feedback.FeedbackID })" class="modal_ajax_btn link"><i class="fa fa-pencil"></i></a>
                    <i title="Remover" style="cursor:pointer;" class="fa fa-remove" onclick="removeRecord(this, 'activityFeedback')" data-url="@Url.Action("RemoverComentario", "Actividades", new { id = feedback.Feedback.FeedbackID })"></i>
                </td>
            </tr>
        }
    </tbody>

</table><br />
<a href="#" title="Comentar" class="btn modal_ajax_btn" data-title="Nuevo Comentario" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("NuevoComentario", "Actividades", new { id = Model.Activity.ActivityID })"> Comentar</a><br /><br />


<script src="~/Scripts/myScripts.js"></script>
<script>
    $(document).ready(function () {
          $('#activityFeedback').DataTable({
            "sDom": '<"top">t<"bottom"pr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "iDisplayLength": 10,
            "oLanguage": {
                "sEmptyTable": "No se ha recibido ningún comentario",
                "sZeroRecords": "No se ha encontrado ningún registro"
            }
        });

          $(function () {
              $("#playlist li").on("click", function () {
                  var currentUrl = $("#videoarea").attr("src");
                  var dataUrl = $(this).attr("data-url");
                  var newUrl = "";

                  var regExp = /^.*(youtu.be\/|v\/|e\/|u\/\w+\/|embed\/|v=)([^#\&\?]*).*/;
                  var match = dataUrl.match(regExp);
                  if (match && match[2].length == 11)
                      newUrl = match[2];

                  currentUrl = currentUrl.substr(0, 24);
                  $("#videoarea").attr({
                      "src": currentUrl + newUrl
                  });
              });
          });

        $(document).foundation('clearing', 'reflow');

        loadRightDetailsView("<a id='verContactos' data-url='@Url.Action("ContactosyRecursos", "Actividades", new { id = Model.Activity.ActivityID })'></a>");

    });
</script>