@model OPDB.Models.ActivityViewModel

@{
    ViewBag.Title = "Detalles";
}

<style>
    select {
        width: 50px !important;
        padding: 0.2rem !important;
        height: 1.5rem !important;
        margin: 0 !important;
    }

    label {
        width: 100% !important;
    }

    input[type="search"] {
        padding: 0.2rem;
    }

    th, td {
        text-align: center !important;
    }

    .last, .first, .previous, .next {
        display: none !important;
    }
     .panel.callout a:not(.button) {
      color: #222222; }

    /*playlist css*/

    #playlist {
        display: table;
    }

        #playlist li {
            cursor: pointer;
            padding: 8px;
        }

            #playlist li:hover {
                color: blue;
            }

    #videoarea {
        float: left;
        width: 640px;
        height: 480px;
        margin: 10px;
        border: 1px solid silver;
    }
</style>

    <h2 style="text-align:center;">@Model.Activity.Title</h2>
<div class="panel">
    <div class="display-label">
        @Html.LabelFor(model => model.Activity.Purpose, "Propósito")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Activity.Purpose)
    </div>
</div>

<div class="columns panel callout">
    <div class="large-5 columns">
        <h3>Detalles de Actividad</h3>
        <div class="display-label">
            @Html.LabelFor(model => model.Activity.Location, "Localización")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Activity.Location)
        </div>
        <br />
        <div class="display-label">
            @Html.LabelFor(model => model.Activity.ActivityDate, "Fecha")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ActivityDate)
        </div>
        <br />
        <div class="display-label">
            @Html.LabelFor(model => model.Activity.ActivityTime, "Hora")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Activity.ActivityTime)
        </div>
        <br />        
    </div>

    <div class="large-7 columns">
        <h3>Notas</h3>
        <table id="activityNotes">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th style="width:70%;">Nota</th>
                    <th style="width:10%;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var note in Model.Notes)
                {
                    <tr>
                        <td>@note.NoteType.NoteType1</td>
                        <td><a href="#" title="Ver Nota" data-validation="false" data-title="Detalles" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("VerNota", "Actividades", new { id = note.ActivityNoteID })" class="modal_ajax_btn">@String.Concat(note.Note.Substring(0, note.Note.Length > 100 ? 100 : note.Note.Length), "...")</a></td>
                        <td>
                            <a href="#" title="Editar" data-title="Editar Nota" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("EditarNota", "Actividades", new { id = note.ActivityNoteID })" class="modal_ajax_btn"><i class="fa fa-pencil"></i></a> 
                            <i title="Remover" style="cursor:pointer;" class="fa fa-remove" onclick="removeRecord(this, 'schoolNotes')" data-url="@Url.Action("RemoverNota", "Actividades", new { id = note.ActivityNoteID })"></i>

                        </td>
                    </tr>
                }
            </tbody>

        </table><br />
        
    </div>

</div>
<div><input type="button" class="btn" value="Editar" /><input type="button" class="btn" value="Regresar" onclick="window.history.back()" /><a href="#" title="Añadir Nota" class="modal_ajax_btn" data-title="Nueva Nota" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("CrearNota", "Actividades", new { id = Model.Activity.ActivityID })"><input type="button" class="btn" value="Añadir Nota" /></a>
    </div>
<br />
<div class="large-12 columns callout panel">
    <h4>Media</h4>

    <div class="large-9 columns">
        <iframe width="560" id="videoarea" height="315" src="//www.youtube.com/embed/2vjPBrBU-TM" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="large-3 columns">
        <h5>Lista de Reproducción</h5>
        <ul id="playlist">
            <li data-url="https://www.youtube.com/watch?v=2vjPBrBU-TM">Sia</li>
            <li data-url="https://www.youtube.com/watch?v=u3u22OYqFGo">Black Widow</li>
            <li data-url="https://www.youtube.com/watch?v=u0fk6syQ7iY">Earthquake</li>
            
        </ul>
    </div>
</div>
<h4>Comentarios</h4>

<table id="activityFeedback" style=" border: none !important;">
    <thead hidden>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var feedback in Model.Feedbacks)
        {
            <tr>
                <td style="float:left;">@feedback.Feedback.Feedback1 - @feedback.UserDetail.FirstName @if (feedback.UserDetail.MiddleInitial != null)
                                                                                                { @feedback.UserDetail.MiddleInitial } @feedback.UserDetail.LastName</td>
                <td style="width:6%;">
                    <a href="#" title="Editar" data-title="Editar Comentario" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("EditarComentario", "Actividades", new { id = feedback.Feedback.FeedbackID })" class="modal_ajax_btn"><i class="fa fa-pencil"></i></a>
                    <i title="Remover" style="cursor:pointer;" class="fa fa-remove" onclick="removeRecord(this, 'activityFeedback')" data-url="@Url.Action("RemoverComentario", "Actividades", new { id = feedback.Feedback.FeedbackID })"></i>
                </td>
            </tr>
        }
    </tbody>

</table><br />
<a href="#" title="Comentar" class="modal_ajax_btn" data-title="Nuevo Comentario" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("NuevoComentario", "Actividades", new { id = Model.Activity.ActivityID })"><input type="button" class="btn" value="Comentar" /></a><br /><br />


<script src="~/Scripts/myScripts.js"></script>
<script>
    $(document).ready(function () {
        $('#activityNotes').DataTable({
            "sDom": '<"top"f>t<"bottom"pr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "iDisplayLength": 5,
            "aaSorting": [[1, "asc"]],
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": 2
                }
            ],
            "oLanguage": {
                "sEmptyTable": "No se ha dejado ninguna nota",
                "sZeroRecords": "No se ha encontrado ningún registro",
                "sSearch": "Buscar:"
            }
        });

        $('#activityFeedback').DataTable({
            "sDom": '<"top">t<"bottom"pr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "iDisplayLength": 10,
            "oLanguage": {
                "sEmptyTable": "No se ha recibido ningún comentario",
                "sZeroRecords": "No se ha encontrado ningún registro"
            }
        });

        $(function () {
            $("#playlist li").on("click", function () {
                debugger;
                var currentUrl = $("#videoarea").attr("src");
                var index = $(this).attr("data-url").lastIndexOf("watch?v=");
                var length = "watch?v=".length;
                var lastIndex = $(this).attr("data-url").length-1;
                var newUrl = $(this).attr("data-url").substr(index+length, lastIndex);
                currentUrl = currentUrl.substr(0, 24);
                $("#videoarea").attr({
                    "src": currentUrl + newUrl
                })
            })
        })
    });
</script>