@model OPDB.Models.Activity

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Activity</legend>

        @Html.HiddenFor(model => model.ActivityID)

        <div class="editor-label">
            @Html.LabelFor(model => model.ActivityTypeID, "ActivityType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ActivityTypeID", String.Empty)
            @Html.ValidationMessageFor(model => model.ActivityTypeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Purpose)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Purpose)
            @Html.ValidationMessageFor(model => model.Purpose)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Location)
            @Html.ValidationMessageFor(model => model.Location)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActivityDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ActivityDate)
            @Html.ValidationMessageFor(model => model.ActivityDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActivityTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ActivityTime)
            @Html.ValidationMessageFor(model => model.ActivityTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SchoolID, "School")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SchoolID", String.Empty)
            @Html.ValidationMessageFor(model => model.SchoolID)
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Devuelta", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
