@model OPDB.Models.ActivityViewModel

@{
    ViewBag.Title = "Editar";
}

<style>
    .text-box {
        width: 500px;
    }

    input[type="text"][readonly]{
        background-color: white;
    }

    .editor-label {
        text-align: left;
    }

    span{
        font-size: 0.875rem;
        color: #4d4d4d;
    }
</style>

<h2>Editar Actividad</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <center>
        <fieldset style="width:500px;">
            <legend>Activity</legend>

            @Html.HiddenFor(model => model.Activity.ActivityID)
            @Html.HiddenFor(model => model.Activity.UserID)
            @Html.HiddenFor(model => model.Activity.CreateUser)
            @Html.HiddenFor(model => model.Activity.CreateDate)

            <div class="editor-label">
                @Html.LabelFor(model => model.Activity.ActivityTypeID, "Tipo de Actividad")
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Activity.ActivityTypeID, Model.ActivityTypes, new { @style = "width: 500px !important;" })
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Activity.Title, "Título de Actividad")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Activity.Title)
                @Html.ValidationMessageFor(model => model.Activity.Title)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Activity.Purpose, "Propósito")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Activity.Purpose)
                @Html.ValidationMessageFor(model => model.Activity.Purpose)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Activity.Location, "Localización")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Activity.Location)
                @Html.ValidationMessageFor(model => model.Activity.Location)
            </div>
            <div class="editor-field">
                <div class="large-6 columns" style="text-align:left;">
                    <span>Fecha </span><br />
                    @Html.TextBoxFor(model => model.ActivityDate, new { id = "datepicker", @readonly = true }) &nbsp;<i class="fa fa-calendar"></i>
                    @Html.ValidationMessageFor(model => model.Activity.ActivityDate)
                </div>
                <div class="large-6 columns" style="text-align:left;">
                    <span>Hora </span><br />
                    @Html.TextBoxFor(model => model.Activity.ActivityTime, new { id = "timepicker" }) &nbsp;<i class="fa fa-clock-o"></i>
                    @Html.ValidationMessageFor(model => model.Activity.ActivityTime)
                </div>
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Activity.SchoolID, "Escuela")
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Activity.SchoolID, Model.SchoolList, new { @style = "width: 500px !important;" })
            </div><br />
            <div class="editor-label">
                @Html.LabelFor(model => model.ContactIDs, "Contactos de la Actividad")
            </div>
            <div class="editor-field" style="text-align:left !important;">
                @Html.ListBoxFor(model => model.ContactIDs, Model.Contacts, new { @style = "width: 500px !important;", @multiple = "multiple", @class = "chosen-select", @data_placeholder = "Buscar..." })
            </div><br />
            <div class="editor-label">
                @Html.LabelFor(model => model.ResourceIDs, "Recursos Necesarios")
            </div>
            <div class="editor-field" style="text-align:left !important;">
                @Html.ListBoxFor(model => model.ResourceIDs, Model.Resources, new { @style = "width: 500px !important;", @multiple = "multiple", @class = "chosen-select", @data_placeholder = "Buscar..." })
            </div><br />
            <p>
                <input type="submit" class="btn" style="float:left !important; width:40% !important; margin-left: 30px !important;" value="Guardar" /> <input type="button" value="Cancelar" class="btn" style="float:right !important; width:40% !important; margin-bottom: 20px !important; margin-right: 30px !important;" onclick="location.href = '@Url.Action("Detalles", "Alcance", new { id =  Model.Activity.UserID })'" />
            </p>
        </fieldset>
    </center>
}
<script>
    $(document).ready(function(){
        $("#datepicker").datepicker({ dateFormat: 'dd/mm/yy' }).val();

        $("#timepicker").timepicker({
            'step': 15,
            'timeFormat': 'h:iA'
        }).val();

        $(".chosen-select").chosen({ no_results_text: "No se encontró ningún record." });

       });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
