@model OPDB.Models.ActivityViewModel

@{
    ViewBag.Title = "Index";
}

<style>
    select {
        width: 50px !important;
        padding: 0.2rem !important;
        height: 1.6rem !important;
        margin: 0 !important;
    }

    label {
        width: 100% !important;
    }

    input[type="search"] {
        padding: 0.2rem;
    }

    th, td {
        text-align: center !important;
    }

    .previous, .next{
        display: none !important;
    }
     a:not(.button) {
      color: black; }

        a span i:hover {
        color: #007A0B;
    }

    .link:hover {
        color: #007A0B !important;
    }

    .fa-remove:hover {
        color: #007A0B !important;
    }
</style>

<table id="activities">
    <thead>
        <tr>
            <th>Título</th>
            <th>Creado Por</th>
            <th>En</th>
            <th>Modificado Por</th>
            <th>En</th>
            <th style="width:6%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Information)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Activity.Title, "Detalles", "Actividades", new { id = item.Activity.ActivityID }, new { title = "Ver Detalles", @class = "link", @onclick = "sessionStorage.setItem('Route', 'admin');" })
                </td>
                <td>
                @if (item.CreateUser.FirstName != "") { 
                   @Html.ActionLink(item.CreateUser.FirstName + " " + item.CreateUser.MiddleInitial + " " + item.CreateUser.LastName, "Detalles", "Usuarios", new { id = item.Activity.CreateUser }, new { @class = "link", @onclick = "sessionStorage.setItem('Route', 'admin');" })
                }
                else
                {
                    @Html.ActionLink(item.CreateEntity.OutreachEntityName, "Detalles", "Alcance", new { id = item.Activity.CreateUser }, new { @class = "link", @onclick = "sessionStorage.setItem('Route', 'admin');" })
                }
                </td>
                <td>
                   @Html.DisplayFor(modelItem => item.Activity.CreateDate)
                </td>
                <td>
                @if (item.UpdateUser.FirstName != "") { 
                    @Html.ActionLink(item.UpdateUser.FirstName + " " + item.UpdateUser.MiddleInitial + " " + item.UpdateUser.LastName, "Detalles", "Usuarios", new { id = item.Activity.UpdateUser }, new { @class = "link", @onclick = "sessionStorage.setItem('Route', 'admin');" })
                }
                else
                {
                    @Html.ActionLink(item.UpdateEntity.OutreachEntityName, "Detalles", "Alcance", new { id = item.Activity.UpdateUser }, new { @class = "link", @onclick = "sessionStorage.setItem('Route', 'admin');" })
                }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activity.UpdateDate)
                </td>
                <td>
                    <a class="link" href="@Url.Action("EditarActividad", "Actividades", new { source = "Administracion", id = item.Activity.ActivityID })" onclick="sessionStorage.setItem('Route', 'admin');"><i class="fa fa-pencil" title="Editar"></i></a>
                    <i title="Remover" style="cursor:pointer;" class="fa fa-remove" onclick="removeRecord(this)" data-url="@Url.Action("Remover", "Actividades", new { id = item.Activity.ActivityID })"></i>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

<input type="button" value="Nueva Actividad" class="btn" onclick="location.href='@Url.Action("CrearActividad", "Actividades", null)'" />

<br />

<script src="~/Scripts/myScripts.js"></script>
<script>
    $(document).ready(function () {

        sessionStorage.setItem('Tab', 'activitiesURL');

        $('#activities').DataTable({
            "sDom": '<"top"f>t<"bottom"pr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "iDisplayLength": 10,
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": [5]
                },
                 {
                     "searchable": false,
                     "targets": [5]
                 }
            ],
            "oLanguage": {
                "sEmptyTable": "No se ha creado ninguna actividad",
                "sZeroRecords": "No se ha encontrado ningún registro",
                "sSearch": "Buscar:"
            }
        });
        
        document.getElementsByTagName("loading")[0].innerHTML = "";
    });

</script>

