@model IEnumerable<OPDB.Models.Activity>

@{
    ViewBag.Title = "Index";
}

<h2>Actividades de Alcanze</h2>

<style>
    select {
        width: 50px !important;
        padding: 0.2rem !important;
        height: 1.5rem !important;
        margin: 0 !important;
    }

    label {
        width: 100% !important;
    }

    input[type="search"] {
        padding: 0.2rem;
    }

    th, td {
        text-align: center !important;
    }
</style>

<table id="units">
    <thead>
        <tr>
            <th style="width:40%;">Título</th>
            <th style="width:25%;">Localización</th>
            <th style="width:17%;">Fecha</th>
            <th style="width:10%;">Hora</th>
            <th style="width:8%;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @item.ActivityDate.Value.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityTime)
                </td>
                <td>
                    <a href="@Url.Action("Detalles", "Actividades", new { id = item.ActivityID})"><i class="fa fa-info-circle" title="Ver Detalles"></i></a>
                    <a href="@Url.Action("Editar", "Actividades", new { id = item.ActivityID })"><i class="fa fa-pencil" title="Editar"></i></a>
                    @if (item.DeletionDate == null)
                    {
                        <i title="Remover" class="fa fa-remove" onclick="removeRecord(this)" data-url="@Url.Action("Remover", "Actividades", new { id = item.ActivityID })"></i>
                    }
                    else
                    {
                        <i title="Restaurar" class="fa fa-plus"></i>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

<p>
    @Html.ActionLink("Añadir nueva actividad...", "Crear")
</p>

<script src="~/Scripts/myScripts.js"></script>
<script>
    $(document).ready(function () {

        $('#units').DataTable({
            "sDom": '<"top"lf>t<"bottom"ipr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "iDisplayLength": 12,
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": [0, 1, 4]
                },
                 {
                     "searchable": false,
                     "targets": [2, 3, 4]
                 }
            ]
        });
    });

</script>

