@model OPDB.Models.ActivityViewModel

@{
    ViewBag.Title = "Actividades";
}

<style>
    select {
        width: 50px !important;
        padding: 0.2rem !important;
        height: 1.5rem !important;
        margin: 0 !important;
    }

    input[type="search"] {
        padding: 0.2rem;
    }

    label {
        width: 100%;
    }

    tr{
        background-color: #e2e2e2 !important;
    }

    table {
        border: none !important;
    }

    .last, .first, .previous, .next {
        display: none !important;
    }
</style>

<div><h2 style="float:left;">Actividades</h2> <a class="btn btn-sm" style="float:right; margin-top:2%;" href="@Url.Action("DeInteres", "Actividades", null)">Actividades de Interes</a></div><br /> 
<table id="activityList">
    <thead hidden>
        <tr><th></th></tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Information)
        {
            <tr>
                <td class="panel callout large-12 columns">
                    <div class="large-10 columns">
                        @Html.ActionLink(item.Activity.Title, "Detalles", "Actividades", new { id = item.Activity.ActivityID }, null)<br />
                        <span>Propósito: </span> @item.Activity.Purpose<br />
                        <div>@if (item.Activity.ActivityDate != new DateTime()){ <span>Fecha: </span> @item.Activity.ActivityDate.Value.ToString("dd/MM/yyyy") } @if(item.Activity.ActivityTime != ""){<span>Hora: </span> @item.Activity.ActivityTime}</div>
                        <span>Organizada Por: </span>@item.OutreachEntity.OutreachEntityName
                    </div>
                @if (item.Interested != true) { 
                    <div class="large-2 columns"><a class="btn btn-sm" onclick="showInterest(this)" data-url="@Url.Action("Interes", "Actividades", new { id = item.Activity.ActivityID })" title="Mostrar Interes"><i class="fa fa-thumbs-up"></i> Me Interesa</a></div>
                }
                </td>
            </tr>

        }
    </tbody>
</table><br />
<input type="button" class="btn" value="Nueva Actividad" onclick="location.href='@Url.Action("Crear", "Actividades", null)'" />

<script src="~/Scripts/myScripts.js"></script>
<script>
    $(document).ready(function () {

        $('#activityList').DataTable({
            "sDom": '<"top">t<"bottom"pr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "oLanguage": { "sSearch": "Filter:" },
            "oLanguage": {
                "sEmptyTable": "No se ha añadido ninguna actividad",
                "sZeroRecords": "No se ha encontrado ningún registro"
            }
        });
    });


</script>



