@model OPDB.Models.ActivityViewModel

@{
    ViewBag.Title = "Actividades";
}

<style>
    select {
        width: 50px !important;
        padding: 0.2rem !important;
        height: 1.5rem !important;
        margin: 0 !important;
    }

    input[type="search"] {
        padding: 0.2rem;
    }

    label {
        width: 100%;
    }

    tr{
        background-color: #EFEEEF !important;
    }

    table {
        border: none !important;
    }

    .last, .first, .previous, .next {
        display: none !important;
    }
    .link:hover {
        color: #007A0B !important;
    }
</style>

<div><h2 style="float:left;">Actividades</h2>
    @if (Request.IsAuthenticated)
    {
        <a class="btn btn-sm" style="float:right; margin-top:2%;" href="@Url.Action("DeInteres", "Actividades", null)">Actividades de Interes</a>
    }
</div>
<br />

<table id="activityList">
    <thead hidden>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Information)
        {
            <tr>
                <td class="panel callout large-12 columns">
                    <div class="large-10 columns">
                        <h5>@Html.ActionLink(item.Activity.Title, "Detalles", "Actividades", new { id = item.Activity.ActivityID }, new { @class = "link", @style="color:black;"})</h5>
                        <span>Propósito: </span> @item.Activity.Purpose<br />
                        <div>@if (item.Activity.ActivityDate != new DateTime()){ <span>Fecha: </span> @item.Activity.ActivityDate.Value.ToString("dd/MM/yyyy") } @if(item.Activity.ActivityTime != ""){<span>Hora: </span> @item.Activity.ActivityTime}</div>
                        <span>Tipo: </span>@item.Activity.ActivityType.ActivityType1<br />
                        <span>Área de Especialidad: </span>@item.Activity.ActivityMajor.ActivityMajor1<br />
                        @if (item.ActivityDynamic.ActivityDynamic1 != null && item.ActivityDynamic.ActivityDynamic1 != "")
                        {<span>Dinámica de la Actividad: </span>@item.ActivityDynamic.ActivityDynamic1<br />}
                        <span>Audiencia: </span>@item.Activity.TargetPopulation.TargetPopulation1<br />
                        <span>Organizada Por: </span>@item.OutreachEntity.OutreachEntityName<br />
                    </div>
                @if (Request.IsAuthenticated)
                {
                    if (item.Interested != true) { 
                    <div class="large-2 columns"><a class="btn btn-sm" onclick="showInterest(this)" data-url="@Url.Action("Interes", "Actividades", new { id = item.Activity.ActivityID })" title="Mostrar Interes"><i class="fa fa-thumbs-up"></i> Me Interesa</a></div>
                }
                else
                {
                    <i style="float:right; font-size:0.875rem;">Te interesa esta actividad.</i>
                }
                }
                </td>
                <td>@item.Activity.UpdateDate</td>
            </tr>

        }
    </tbody>
</table><br />

<script src="~/Scripts/myScripts.js"></script>
<script>
    $(document).ready(function () {

        $('#activityList').DataTable({
            "sDom": '<"top">t<"bottom"pr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "oLanguage": {
                "sEmptyTable": "No se ha añadido ninguna actividad",
                "sZeroRecords": "No se ha encontrado ningún registro",
                "sSearch": "Filter:"
            }, "columnDefs": [
            {
                "targets": [ 1 ],
                "visible": false,
                "searchable": false
            }
            ],
            "aaSorting": [[ 1, "desc" ]]
        });
    });


</script>



