@model OPDB.Models.Activity

@{
    ViewBag.Title = "Remover";
}

<h2>Remover Actividad</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Activity</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ActivityType.ActivityType1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActivityType.ActivityType1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Purpose)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Purpose)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ActivityDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActivityDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ActivityTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActivityTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.School.SchoolName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.School.SchoolName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Remover" /> |
        @Html.ActionLink("Regresar", "Index")
    </p>
}
