@model OPDB.Models.UserViewModel

@{
    ViewBag.Title = "Crear";
}
<style>
    .text-box{

        width:500px;
    }

    .editor-label{
        text-align: left;
    }
</style>
<h2>Registro</h2>

@using (Html.BeginForm())
{
    <center>
        <fieldset style="width:500px;">
            <label>Todos los campos con (*) son requeridos</label><br />
            @Html.ValidationSummary(true)
            <div class="editor-label">
                @Html.LabelFor(model => model.user.UserTypeID, "Tipo de Usuario *")
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.user.UserTypeID, Model.userTypes, new { @style = "width: 500px !important;", @id = "userType", @onchange = "getValue()" })
            </div><br />
            <div class="editor-label">
               @Html.LabelFor(model => model.user.Email, "Correo Electrónico *")
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.user.Email, null, new { @style = "float:left !important;" })
                @Html.EditorFor(model => model.user.Email, new { @style = "width: 500px !important;" })
            </div>

               
            <div class="editor-label">
                @Html.LabelFor(model => model.user.UserPassword, "Contraseña *")
            </div>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.user.UserPassword, null, new { @style = "float:left !important;" })
                @Html.EditorFor(model => model.user.UserPassword, new { @style = "width: 500px !important;" })
            </div>

            <div id="user">
                <div class="editor-label">
                    @Html.LabelFor(model => model.userDetail.FirstName, "Nombre *")
                </div>
                <div class="editor-field">
                    @Html.ValidationMessage("UserDetail_FirstName_Required", new { @style = "float:left !important;" })
                    @Html.EditorFor(model => model.userDetail.FirstName, new { @style = "width: 500px !important;" })
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.userDetail.LastName, "Apellido *")
                </div>
                <div class="editor-field">
                    @Html.ValidationMessage("UserDetail_LastName_Required", new { @style = "float:left !important;" })
                    @Html.EditorFor(model => model.userDetail.LastName, new { @style = "width: 500px !important;" })
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.userDetail.MiddleInitial, "Inicial")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.userDetail.MiddleInitial, new { @style = "width: 500px !important;" })
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.userDetail.Gender, "Género *")
                </div>
                <div class="editor-field" style="text-align:left !important;">
                    @Html.ValidationMessage("UserDetail_Gender_Required", new { @style = "float:left !important;" })<br />
                    @Html.RadioButtonFor(model => model.userDetail.Gender, "M")<label>Masculino</label>&nbsp;&nbsp;@Html.RadioButtonFor(model => model.userDetail.Gender, "F")<label>Femenino</label>
                </div>
            </div>

            <div id="outreachEntity">
                <div class="editor-label">
                    @Html.LabelFor(model => model.outreachEntity.OutreachEntityTypeID, "Tipo de Entidad *")
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.outreachEntity.OutreachEntityTypeID, Model.outreachTypes, new { @style = "width: 500px !important;" })
                </div><br />
                <div class="editor-label">                    
                    @Html.LabelFor(model => model.outreachEntity.OutreachEntityName, "Nombre *")
                </div>
                <div class="editor-field">
                    @Html.ValidationMessage("OutreachEntityDetail_OutreachEntityName_Required", new { @style = "float:left !important;" })
                    @Html.EditorFor(model => model.outreachEntity.OutreachEntityName, new { @style = "width: 500px !important;" })
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.outreachEntity.Mission, "Misión *")
                </div>
                <div class="editor-field">
                    @Html.ValidationMessage("OutreachEntityDetail_Mission_Required", new { @style = "float:left !important;" })
                    @Html.TextAreaFor(model => model.outreachEntity.Mission, new { @style = "resize:none; width: 500px !important; height: 100px !important;" })
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.outreachEntity.Vision, "Visión *")
                </div>
                <div class="editor-field">
                    @Html.ValidationMessage("OutreachEntityDetail_Vision_Required", new { @style = "float:left !important;" })
                    @Html.TextAreaFor(model => model.outreachEntity.Vision, new { @style = "resize:none; width: 500px !important; height: 100px !important;" })
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.outreachEntity.Objectives, "Objetivos *")
                </div>
                <div class="editor-field">
                    @Html.ValidationMessage("OutreachEntityDetail_Objectives_Required", new { @style = "float:left !important;" })
                    @Html.TextAreaFor(model => model.outreachEntity.Objectives, new { @style = "resize:none; width: 500px !important; height: 100px !important;" })
                </div>


            </div>

            <p style="text-align:left;">
                <input type="submit" class="btn" style="float:left !important; width:40% !important; margin-left: 30px !important;" value="Crear" /> <input type="button" value="Cancelar" class="btn" style="float:right !important; width:40% !important; margin-bottom: 20px !important; margin-right: 30px !important;" onclick="window.history.back()" />
            </p>





        </fieldset>
    </center>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    

}

<script src="~/Scripts/myScripts.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        getValue();
    })

   



</script>