@model OPDB.Models.UserViewModel

@{
    ViewBag.Title = "Crear Usuario";
}
<style>
    .text-box {
        width: 500px;
    }

    .editor-label {
        text-align: left;
    }
</style>

<h2>Nuevo Usuario</h2>

@using (Html.BeginForm())
{
    <center>
        <fieldset style="width:500px;">
            <label>Todos los campos con (*) son requeridos</label><br />
            @Html.ValidationSummary(true)
            <div class="editor-label">
                @Html.LabelFor(model => model.user.UserTypeID, "Tipo de Usuario *")
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.user.UserTypeID, Model.userTypes, new { @style = "width: 500px !important;", @id = "userType"})
            </div><br />
            <div class="editor-label">
                @Html.LabelFor(model => model.user.Email, "Correo Electrónico *")
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.user.Email, null, new { @style = "float:left !important;" })
                @Html.EditorFor(model => model.user.Email, new { @style = "width: 500px !important;" })
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.user.UserPassword, "Contraseña *")<i style="float:right; cursor:pointer;" class="fa fa-question-circle" title="Su contraseña debe contener: de 8 a 10 caracteres, al menos un digito, al menos un caracter alfabetico y no debe contener caracteres especiales."></i>
            </div>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.user.UserPassword, null, new { @style = "float:left !important;" })
                @Html.EditorFor(model => model.user.UserPassword, new { @style = "width: 500px !important;" })
            </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.userDetail.FirstName, "Nombre *")
                </div>
                <div class="editor-field">
                    @Html.ValidationMessage("UserDetail_FirstName_Invalid", new { @style = "float:left !important;" })
                    @Html.ValidationMessage("UserDetail_FirstName_Required", new { @style = "float:left !important;" })
                    @Html.EditorFor(model => model.userDetail.FirstName, new { @style = "width: 500px !important;" })
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.userDetail.LastName, "Apellido *")
                </div>
                <div class="editor-field">
                    @Html.ValidationMessage("UserDetail_LastName_Invalid", new { @style = "float:left !important;" })
                    @Html.ValidationMessage("UserDetail_LastName_Required", new { @style = "float:left !important;" })
                    @Html.EditorFor(model => model.userDetail.LastName, new { @style = "width: 500px !important;" })
                </div>
                <div class="editor-label">
                    @Html.ValidationMessage("UserDetail_MiddleInitial_Invalid", new { @style = "float:left !important;" })
                    @Html.LabelFor(model => model.userDetail.MiddleInitial, "Inicial")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.userDetail.MiddleInitial, new { @style = "width: 500px !important;" })
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.userDetail.Gender, "Género *")
                </div>
                <div class="editor-field" style="text-align:left !important;">
                    @Html.ValidationMessage("UserDetail_Gender_Required", new { @style = "float:left !important;" })<br />
                    @Html.RadioButtonFor(model => model.userDetail.Gender, "M")<label>Masculino</label>&nbsp;&nbsp;@Html.RadioButtonFor(model => model.userDetail.Gender, "F")<label>Femenino</label>
                </div>         

            <p style="text-align:left;">
                <input type="submit" class="btn" style="float:left !important; width:40% !important; margin-left: 30px !important;" value="Crear" /> <input type="button" value="Cancelar" class="btn" style="float:right !important; width:40% !important; margin-bottom: 20px !important; margin-right: 30px !important;" onclick="window.history.back()" />
            </p>
        </fieldset>
    </center>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")



}

<script src="~/Scripts/myScripts.js"></script>
