@model OPDB.Models.UserViewModel

@{
    ViewBag.Title = "Crear";
}
<style>
    .text-box{

        width:500px;
    }

    .editor-label{
        text-align: left;
    }
</style>
<h2>Registro</h2>

@using (Html.BeginForm())
{
    <center>
        <fieldset style="width:500px;">
            <label>Todos los campos con (*) son requeridos</label><br />
            @Html.ValidationSummary(true)
            <div class="editor-label">
                @Html.LabelFor(model => model.User.UserTypeID, "Tipo de Usuario")
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.User.UserTypeID, Model.UserTypes, new { @style = "width: 500px !important;", @id = "userType", @onchange = "getValue()" })
            </div><br />
            <div class="editor-label">
               @Html.LabelFor(model => model.User.Email, "Correo Electrónico *")
            </div>
            <div>
                @Html.ValidationMessage("User_Email_Exists", new { @style = "float:left !important;" })
                @Html.ValidationMessageFor(model => model.User.Email, null, new { @style = "float:left !important;" })
                @Html.EditorFor(model => model.User.Email, new { @style = "width: 500px !important;" })
            </div>
               
            <div class="editor-label">
                <i style="float:right; cursor:pointer;" class="fa fa-question-circle" title="Su contraseña debe contener: de 8 a 20 caracteres, al menos un digito, al menos un caracter alfabetico y no debe contener caracteres especiales."></i> @Html.LabelFor(model => model.User.UserPassword, "Contraseña *")
            </div>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.User.UserPassword, null, new { @style = "float:left !important;" })
                @Html.PasswordFor(model => model.User.UserPassword, new { @style = "width: 500px !important;" })
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.User.PhoneNumber, "Número Telefónico")
            </div>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.User.PhoneNumber, null, new { @style = "float:left !important;" })
                @Html.EditorFor(model => model.User.PhoneNumber, new { @style = "width: 500px !important;" })
            </div>

            <div id="user">
                <div class="editor-label">
                    @Html.LabelFor(model => model.UserDetail.FirstName, "Nombre *")
                </div>
                <div class="editor-field">
                    @Html.ValidationMessage("UserDetail_FirstName_Invalid", new { @style = "float:left !important;" })
                    @Html.ValidationMessage("UserDetail_FirstName_Required", new { @style = "float:left !important;" })
                    @Html.EditorFor(model => model.UserDetail.FirstName, new { @style = "width: 500px !important;" })
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.UserDetail.LastName, "Apellido *")
                </div>
                <div class="editor-field">
                    @Html.ValidationMessage("UserDetail_LastName_Invalid", new { @style = "float:left !important;" })
                    @Html.ValidationMessage("UserDetail_LastName_Required", new { @style = "float:left !important;" })
                    @Html.EditorFor(model => model.UserDetail.LastName, new { @style = "width: 500px !important;" })
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.UserDetail.MiddleInitial, "Inicial")
                </div>
                <div class="editor-field">
                    @Html.ValidationMessage("UserDetail_MiddleInitial_Invalid", new { @style = "float:left !important;" })
                    @Html.EditorFor(model => model.UserDetail.MiddleInitial, new { @style = "width: 500px !important;" })
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.UserDetail.Gender, "Género *")
                </div>
                <div class="editor-field" style="text-align:left !important;">
                    @Html.ValidationMessage("UserDetail_Gender_Required", new { @style = "float:left !important;" })<br />
                    @Html.RadioButtonFor(model => model.UserDetail.Gender, "M")<label>Masculino</label>&nbsp;&nbsp;@Html.RadioButtonFor(model => model.UserDetail.Gender, "F")<label>Femenino</label>
                </div>
            </div>

            <div id="outreachEntity">
                <div class="editor-label">
                    @Html.LabelFor(model => model.OutreachEntity.OutreachEntityTypeID, "Tipo de Entidad *")
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.OutreachEntity.OutreachEntityTypeID, Model.OutreachTypes, new { @style = "width: 500px !important;" })
                </div><br />
                <div class="editor-label">                    
                    @Html.LabelFor(model => model.OutreachEntity.OutreachEntityName, "Nombre *")
                </div>
                <div class="editor-field">
                    @Html.ValidationMessage("OutreachEntityDetail_OutreachEntityName_Invalid", new { @style = "float:left !important;" })
                    @Html.ValidationMessage("OutreachEntityDetail_OutreachEntityName_Required", new { @style = "float:left !important;" })
                    @Html.EditorFor(model => model.OutreachEntity.OutreachEntityName, new { @style = "width: 500px !important;" })
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.OutreachEntity.Mission, "Misión *")
                </div>
                <div class="editor-field">
                    @Html.ValidationMessage("OutreachEntityDetail_Mission_Invalid", new { @style = "float:left !important;" })
                    @Html.ValidationMessage("OutreachEntityDetail_Mission_Required", new { @style = "float:left !important;" })
                    @Html.TextAreaFor(model => model.OutreachEntity.Mission, new { @style = "resize:none; width: 500px !important; height: 100px !important;" })
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.OutreachEntity.Vision, "Visión *")
                </div>
                <div class="editor-field">
                    @Html.ValidationMessage("OutreachEntityDetail_Vision_Invalid", new { @style = "float:left !important;" })
                    @Html.ValidationMessage("OutreachEntityDetail_Vision_Required", new { @style = "float:left !important;" })
                    @Html.TextAreaFor(model => model.OutreachEntity.Vision, new { @style = "resize:none; width: 500px !important; height: 100px !important;" })
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.OutreachEntity.Objectives, "Objetivos *")
                </div>
                <div class="editor-field">
                    @Html.ValidationMessage("OutreachEntityDetail_Objectives_Invalid", new { @style = "float:left !important;" })
                    @Html.ValidationMessage("OutreachEntityDetail_Objectives_Required", new { @style = "float:left !important;" })
                    @Html.TextAreaFor(model => model.OutreachEntity.Objectives, new { @style = "resize:none; width: 500px !important; height: 100px !important;" })
                </div>


            </div>

            <p style="text-align:left;">
                <input type="submit" class="btn" style="float:left !important; width:40% !important; margin-left: 30px !important;" value="Crear" /> <input type="button" value="Cancelar" class="btn" style="float:right !important; width:40% !important; margin-bottom: 20px !important; margin-right: 30px !important;" onclick="window.history.back()" />
            </p>
        </fieldset>
    </center>
       

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    

}

<script src="~/Scripts/myScripts.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        getValue();
    })

    



</script>