@model OPDB.Models.UserViewModel

@{
    ViewBag.Title = "Editar";
}

<style>
    .text-box {
        width: 500px;
    }

    .editor-label {
        text-align: left;
    }
</style>

<h2>Editar</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <center>
        <fieldset style="width:500px;">
            <legend>User</legend>

            @Html.HiddenFor(model => model.user.UserID)
            @Html.HiddenFor(model => model.user.CreateDate)
            @Html.HiddenFor(model => model.user.UserStatus)
            @Html.HiddenFor(model => model.userDetail.UserDetailID)
            @Html.HiddenFor(model => model.userDetail.UserID)
            @Html.HiddenFor(model => model.userDetail.CreateDate)
            @Html.HiddenFor(model => model.user.UserTypeID, new { @id = "userType" })
            @Html.HiddenFor(model => model.outreachEntity.OutreachEntityDetailID)

            <div class="editor-label">
                @Html.LabelFor(model => model.user.Email, "Correo Electrónico")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.user.Email)
                @Html.ValidationMessageFor(model => model.user.Email)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.user.UserPassword, "Contraseña")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.user.UserPassword)
                @Html.ValidationMessageFor(model => model.user.UserPassword)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.user.PhoneNumber, "Teléfono")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.user.PhoneNumber)
                @Html.ValidationMessageFor(model => model.user.PhoneNumber)
            </div>
            <div id="user">
                <div class="editor-label">
                    @Html.LabelFor(model => model.userDetail.FirstName, "Nombre")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.userDetail.FirstName)
                    @Html.ValidationMessageFor(model => model.userDetail.FirstName)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.userDetail.MiddleInitial, "Inicial")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.userDetail.MiddleInitial)
                    @Html.ValidationMessageFor(model => model.userDetail.MiddleInitial)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.userDetail.LastName, "Apellido")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.userDetail.LastName)
                    @Html.ValidationMessageFor(model => model.userDetail.LastName)
                </div>


                <div class="editor-label">
                    @Html.LabelFor(model => model.userDetail.Gender, "Género")
                </div>
                <div class="editor-field" style="text-align:left !important;">
                    @Html.RadioButtonFor(model => model.userDetail.Gender, "M")<label>Masculino</label>&nbsp;&nbsp;@Html.RadioButtonFor(model => model.userDetail.Gender, "F")<label>Femenino</label>
                    @Html.ValidationMessageFor(model => model.userDetail.Gender)
                </div>
            </div>

            @*<div id="outreachEntity">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.outreachEntity.OutreachEntityTypeID, "Tipo de Entidad")
                    </div>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.outreachEntity.OutreachEntityTypeID, Model.outreachTypes)
                        @Html.ValidationMessageFor(model => model.outreachEntity.OutreachEntityTypeID)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.outreachEntity.OutreachEntityName, "Nombre")
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.outreachEntity.OutreachEntityName)
                        @Html.ValidationMessageFor(model => model.outreachEntity.OutreachEntityName)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.outreachEntity.Mission, "Misión")
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.outreachEntity.Mission, new { @style = "resize:none;" })
                        @Html.ValidationMessageFor(model => model.outreachEntity.Mission)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.outreachEntity.Vision, "Visión")
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.outreachEntity.Vision, new { @style = "resize:none;" })
                        @Html.ValidationMessageFor(model => model.outreachEntity.Vision)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.outreachEntity.Objectives, "Objetivos")
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.outreachEntity.Objectives, new { @style = "resize:none;" })
                        @Html.ValidationMessageFor(model => model.outreachEntity.Objectives)
                    </div>
                </div>*@

            <p style="text-align:left;">
                <input type="submit" value="Guardar" /> <input type="button" value="Cancelar" onclick="window.location = '@Url.Action("Index", "Usuarios")';" />
            </p>
        </fieldset>
    </center>
}

<script src="~/Scripts/myScripts.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        getValue();
    })

</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
