@model IEnumerable<OPDB.Models.User>

@{
    ViewBag.Title = "Usuarios";
}
<style>
    select {
        width: 50px !important;
        padding: 0.2rem !important;
        height: 1.5rem !important;
        margin: 0 !important;
    }

    label {
        width: 100% !important;
    }

    input[type="search"] {
        padding: 0.2rem;
    }

    th, td {
        text-align: center !important;
    }
</style>
<h2>Usuarios</h2>

<table id="users">
    <thead>
        <tr>
            <th style="width:20%;">Nombre</th>
            <th style="width:20%;">Tipo de Usuario</th>
            <th style="width:20%;">Correo Electrónico</th>
            <th>Teléfono</th>
            <th>Removido</th>
            <th>Estado</th>
            <th style="width:8%;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.UserDetails.FirstOrDefault(i => i.UserID == item.UserID).FirstName + " " + item.UserDetails.FirstOrDefault(i => i.UserID == item.UserID).MiddleInitial + " " + item.UserDetails.FirstOrDefault(i => i.UserID == item.UserID).LastName, "Detalles", "Usuarios", new { id = item.UserID }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserType.UserType1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                @if (item.DeletionDate == null)
                {
                    <td>No</td>
                }
                else
                {
                    <td>Si</td>
                }
                @if (item.UserStatus == true)
                {
                    <td>Aprobado</td>
                }
                else
                {
                    <td>Pendiente</td>
                }

                <td>
                    <a href="@Url.Action("Editar", "Usuarios", new { id = item.UserID })"><i class="fa fa-pencil" title="Editar"></i></a>
                    @if (item.DeletionDate == null)
                    {
                        <i title="Remover" class="fa fa-remove" onclick="removeRecord(this)" data-url="@Url.Action("Remover", "Usuarios", new { id = item.UserID })"></i>
                    }
                    else
                    {
                        <i title="Restaurar" class="fa fa-plus"></i>
                    }
                </td>
            </tr>

        }
    </tbody>
</table>
<br />
<p>
    <input type="button" value="Nuevo Usuario" onclick="location.href='@Url.Action("Crear", "Usuarios")'" />
</p>

<script src="~/Scripts/myScripts.js"></script>
<script>
    $(document).ready(function () {

        $('#users').DataTable({
            "sDom": '<"top"lf>t<"bottom"ipr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "iDisplayLength": 12,
            "aaSorting": [[1, "asc"]],
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": 3
                },
                 {
                     "orderable": false,
                     "targets": 4
                 },
                 {
                     "orderable": false,
                     "targets": 6
                 }


            ]
        });
    });


</script>
