@model IEnumerable<OPDB.Models.User>

@{
    ViewBag.Title = "Usuarios";
}
<style>
    select {
        width: 50px !important;
        padding: 0.2rem !important;
        height: 1.6rem !important;
        margin: 0 !important;
    }

    label {
        width: 100% !important;
    }

    input[type="search"] {
        padding: 0.2rem;
    }

    th, td {
        text-align: center !important;
    }

    a:not(.button) {
      color: black; }

      a span i:hover {
        color: #007A0B;
    }

    .link:hover {
        color: #007A0B !important;
    }

    .fa-remove:hover {
        color: #007A0B !important;
    }
</style>



<table id="users">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo de Usuario</th>
            <th>Correo Electrónico</th>
            <th>Creado</th>
            <th>Modificado</th>
            <th style="width:6%;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.UserDetails.FirstOrDefault(i => i.UserID == item.UserID).FirstName + " " + item.UserDetails.FirstOrDefault(i => i.UserID == item.UserID).MiddleInitial + " " + item.UserDetails.FirstOrDefault(i => i.UserID == item.UserID).LastName, "Detalles", "Usuarios", new { id = item.UserID }, new { @class = "link", @onclick = "sessionStorage.setItem('Route', 'admin');" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserType.UserType1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateDate)
                </td>
                <td>
                    <a class="link" onclick="sessionStorage.setItem('Cancel', 'admin');" href="@Url.Action("Editar", "Usuarios", new { source = "Administracion", id = item.UserID })"><i class="fa fa-pencil" title="Editar"></i></a>
                    <a href="#" title="Remover" class="modal_ajax_btn" data-title="Remover Usuario" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("PopUpRemover", "Usuarios", new { id = item.UserID })"><i class="fa fa-remove"></i></a>  
               </td>
            </tr>

        }
    </tbody>
</table>
<br />

    <input type="button" class="btn" value="Nuevo Usuario" onclick="location.href='@Url.Action("CrearUsuario", "Usuarios")'" />


<script src="~/Scripts/myScripts.js"></script>
<script>
    $(document).ready(function () {

        sessionStorage.setItem('Tab', 'usersURL');

        $('#users').DataTable({
            "sDom": '<"top"f>t<"bottom"ipr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "iDisplayLength": 10,
            "aaSorting": [[1, "asc"]],
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": [5]
                }


            ],
            "oLanguage": { "sEmptyTable": "No existe ningún usuario",
                "sZeroRecords": "No se ha encontrado ningún registro",
                "sSearch": "Buscar:" }
        });
        document.getElementsByTagName("loading")[0].innerHTML = "";
        document.getElementsByTagName("loadinginner")[0].innerHTML = "";
    });


</script>
