@model OPDB.Models.UserViewModel

@using (Html.BeginForm("IniciarSesion", "Usuarios", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl }))
{
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
                <div>
                    @Html.LabelFor(model => model.user.Email, "Correo Electrónico")
                    @Html.TextBoxFor(model => model.user.Email)
                    @Html.ValidationMessageFor(model => model.user.Email)
                </div>
                <div>
                    @Html.LabelFor(model => model.user.UserPassword, "Contraseña")
                    @Html.PasswordFor(model => model.user.UserPassword)
                    @Html.ValidationMessageFor(model => model.user.UserPassword)
                </div>
    <div>
        <input type="submit" class="btn" style="float:left !important; width:40% !important; margin-left: 30px !important;" value="Ingresar" /> <input type="button" value="Cancelar" class="btn" style="float:right !important; width:40% !important; margin-right: 30px !important;" onclick="modalClose()" />
    </div><br /><br /><br />
    <div style="text-align:center;">
        @Html.ActionLink("Registrese", "Crear", "Usuarios") si no tiene cuenta.
    </div>

}

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
