@model IEnumerable<OPDB.Models.User>

@{
    ViewBag.Title = "Removidos";
}

<style>
    select {
        width: 50px !important;
        padding: 0.2rem !important;
        height: 1.5rem !important;
        margin: 0 !important;
    }

    label {
        width: 100% !important;
    }

    input[type="search"] {
        padding: 0.2rem;
    }

    th, td {
        text-align: center !important;
    }

    .previous, .next{
        display: none !important;
    }
</style>

<table id="removedUsersTable">
    <thead>
        <tr>
            <th style="width:20%;">Nombre</th>
            <th style="width:20%;">Tipo de Usuario</th>
            <th style="width:20%;">Correo Electrónico</th>
            <th>Removido En</th>
            <th style="width:8%;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.UserDetails.FirstOrDefault(i => i.UserID == item.UserID).FirstName + " " + item.UserDetails.FirstOrDefault(i => i.UserID == item.UserID).MiddleInitial + " " + item.UserDetails.FirstOrDefault(i => i.UserID == item.UserID).LastName, "Detalles", "Usuarios", new { id = item.UserID }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserType.UserType1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>@Html.DisplayFor(modelItem => item.DeletionDate)</td>            
                 <td>
                     <i title="Restaurar" style="cursor: pointer !important;" class="fa fa-plus" onclick="restoreRecord(this, 'removedUsers')" data-url="@Url.Action("Restaurar", "Usuarios", new { id = item.UserID })"></i>                
                </td>
            </tr>

        }
    </tbody>
</table>
<br />


<script src="~/Scripts/myScripts.js"></script>
<script>
    $(document).ready(function () {

        $('#removedUsersTable').DataTable({
            "sDom": '<"top"f>t<"bottom"ipr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "iDisplayLength": 10,
            "aaSorting": [[1, "asc"]],
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": 4
                }
            ],
            "oLanguage": {
                "sEmptyTable": "No se ha removido ningún usuario",
                "sZeroRecords": "No se ha encontrado ningún registro",
                "sSearch": "Buscar:"
            },
            "fnDrawCallback": function () {
                $("html").getNiceScroll().resize();
            }
        });

        document.getElementsByTagName("loading")[0].innerHTML = "";
        document.getElementsByTagName("loadinginner")[0].innerHTML = "";
    });


</script>
