@model OPDB.Models.UserViewModel

@{
    ViewBag.Title = "Crear";
}

<style>
    .text-box {
        width: 500px;
    }

    .editor-label {
        text-align: left;
    }
</style>

<h2>Registro</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset style="width: 500px;">
        <legend>OutreachEntityDetail</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.outreachEntity.OutreachEntityTypeID, "Tipo de Organización")
        </div>

        <div class="editor-field">
            @Html.DropDownListFor(model => model.outreachEntity.OutreachEntityTypeID, Model.outreachTypes, new { @style = "margin: 0 0 1rem 0 !important; padding: 0.5rem !important; height: 2.3125rem !important; width: 100% !important;" })
            @Html.ValidationMessageFor(model => model.outreachEntity.OutreachEntityTypeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.outreachEntity.OutreachEntityName, "Nombre de Organización")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.outreachEntity.OutreachEntityName, new { @style = "width: 500px !important;" })
            @Html.ValidationMessageFor(model => model.outreachEntity.OutreachEntityName, null, new { @style = "float:left !important;" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.outreachEntity.Mission, "Misión")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.outreachEntity.Mission, new { @style = "resize:none; width: 500px !important; height: 100px !important;" })
            @Html.ValidationMessageFor(model => model.outreachEntity.Mission, null, new { @style = "float:left !important;" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.outreachEntity.Vision, "Visión")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.outreachEntity.Vision, new { @style = "resize:none; width: 500px !important; height: 100px !important;" })
            @Html.ValidationMessageFor(model => model.outreachEntity.Vision, null, new { @style = "float:left !important;" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.outreachEntity.Objectives, "Objetivos")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.outreachEntity.Objectives, new { @style = "resize:none; width: 500px !important; height: 100px !important;" })
            @Html.ValidationMessageFor(model => model.outreachEntity.Objectives, null, new { @style = "float:left !important;" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.outreachEntity.Location, "Localización")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.outreachEntity.Location, new { @style = "width: 500px !important;" })
            @Html.ValidationMessageFor(model => model.outreachEntity.Location, null, new { @style = "float:left !important;" })
        </div>

        <p>
            <input type="submit" value="Crear" /> <input type="button" value="Cancelar" onclick="window.location='@Url.Action("Index", "Alcance")'" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
