@model OPDB.Models.OutreachEntityDetail

@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>OutreachEntityDetail</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.OutreachEntityTypeID, "Tipo de Organización")
        </div>
        <div class="editor-field">
            @Html.DropDownList("OutreachEntityTypeID", String.Empty)
            @Html.ValidationMessageFor(model => model.OutreachEntityTypeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OutreachEntityName, "Nombre de Organización")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OutreachEntityName)
            @Html.ValidationMessageFor(model => model.OutreachEntityName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mission, "Misión")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mission)
            @Html.ValidationMessageFor(model => model.Mission)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vision, "Visión")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vision)
            @Html.ValidationMessageFor(model => model.Vision)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Objectives, "Objetivos")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Objectives)
            @Html.ValidationMessageFor(model => model.Objectives)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Location, "Localización")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Location)
            @Html.ValidationMessageFor(model => model.Location)
        </div>

        <p>
            <input type="submit" value="Crear" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Devuelta", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
