@model OPDB.Models.UserViewModel

@{
    ViewBag.Title = "Detalles";
}

<style>
    select {
        width: 50px !important;
        padding: 0.2rem !important;
        height: 1.5rem !important;
        margin: 0 !important;
    }

    label {
        width: 100% !important;
    }

    input[type="search"] {
        padding: 0.2rem;
    }

    th, td {
        text-align: center !important;
    }

    .last, .first, .previous, .next {
        display: none !important;
    }

     .panel.callout a:not(.button) {
      color: #222222; 

    }

</style>

<h2> @Html.DisplayFor(model => model.outreachEntity.OutreachEntityName)</h2>
<div class="panel callout columns" >
    <div class="large-5 columns">
    <div class="display-label">
            @Html.LabelFor(model => model.outreachEntity.OutreachEntityType.OutreachEntityType1, "Tipo de Organización")
    </div>
    <div class="display-field">
            @Html.DisplayFor(model => model.outreachEntity.OutreachEntityType.OutreachEntityType1)
    </div>
        <br />

    <div class="display-label">
            @Html.LabelFor(model => model.outreachEntity.OutreachEntityName, "Nombre de la Organización")
    </div>

    <div class="display-field">
            @Html.DisplayFor(model => model.outreachEntity.OutreachEntityName)
    </div>
        <br />

    <div class="display-label">
            @Html.LabelFor(model => model.outreachEntity.User.PhoneNumber, "Número de Telefono")
    </div>

    <div class="display-field">
            @Html.DisplayFor(model => model.outreachEntity.User.PhoneNumber)
    </div>  
        <br />

    <div class="display-label">
            @Html.LabelFor(model => model.outreachEntity.Mission, "Misión")
    </div>
    <div class="display-field">
            @Html.DisplayFor(model => model.outreachEntity.Mission)
    </div>
        <br />

    <div class="display-label">
            @Html.LabelFor(model => model.outreachEntity.Vision, "Visión")
    </div>
    <div class="display-field">
            @Html.DisplayFor(model => model.outreachEntity.Vision)
    </div>
        <br />

    <div class="display-label">
            @Html.LabelFor(model => model.outreachEntity.Objectives, "Objetivos")
    </div>
    <div class="display-field">
            @Html.DisplayFor(model => model.outreachEntity.Objectives)
    </div>
        <br />

    <div class="display-label">
            @Html.LabelFor(model => model.outreachEntity.Location, "Localización")
    </div>
    <div class="display-field">
            @Html.DisplayFor(model => model.outreachEntity.Location)
    </div>
    </div>
    <div class="large-7 columns">
        <h3>Notas</h3>
        <table id="outreachNotes">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th style="width:70%;">Nota</th>
                    <th style="width:10%;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var note in Model.Notes)
                {
                    <tr>
                        <td>@note.NoteType.NoteType1</td>
                        <td><a href="#" title="Ver Nota" data-validation="false" data-title="Detalles" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("VerNota", "Alcance", new { id = note.UserNoteID })" class="modal_ajax_btn">@String.Concat(note.Note.Substring(0, note.Note.Length > 100 ? 100 : note.Note.Length), "...")</a></td>
                        <td>
                                <a href="#" title="Editar" data-title="Editar Nota" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("EditarNota", "Alcance", new { id = note.UserNoteID })" class="modal_ajax_btn"><i class="fa fa-pencil"></i></a>
                                <i title="Remover" style="cursor:pointer;" class="fa fa-remove" onclick="removeRecord(this, 'outreachNotes')" data-url="@Url.Action("RemoverNota", "Alcance", new { id = note.UserNoteID })"></i>                               

                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

<div class="large-12 columns">
    <p>
        <input type="button" class="btn" value="Editar" onclick="location.href='@Url.Action("Editar", "Alcance", new { id = Model.outreachEntity.OutreachEntityDetailID })'" />
        <a href="#" title="Añadir Nota" class="modal_ajax_btn" data-title="Nueva Nota" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("CrearNota", "Alcance", new { id = Model.outreachEntity.UserID })"><input type="button" value="Añadir Nota" class="btn"/></a>
        <input type="button" class="btn" value="Volver" onclick="window.history.back()" />
        @*<input type="button" class="btn" value="Volver a Lista" onclick="location.href='@Url.Action("Lista", "Alcance")'">*@
    </p>
</div>

<script src="~/Scripts/myScripts.js"></script>
<script>
    $(document).ready(function () {

        $('#outreachNotes').DataTable({
            "sDom": '<"top"lf>t<"bottom"pr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "iDisplayLength": 12,
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": 2
                }
            ],
            "oLanguage": {
                "sEmptyTable": "No se ha dejado ninguna nota",
                "sZeroRecords": "No se ha encontrado ningún registro",
                "sSearch": "Buscar:"
            }
        });
    });

</script>
