@model OPDB.Models.UserViewModel

@{
    ViewBag.Title = "Editar";
}

<style>
    .text-box {
        width: 500px;
    }

    .editor-label {
        text-align: left;
    }
</style>

@using (Html.BeginForm())
{
    
    <center>
        <fieldset style="width:500px;">
            <label>Todos los campos con (*) son requeridos</label><br />
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.user.UserID)
                @Html.HiddenFor(model => model.user.CreateDate)
                @Html.HiddenFor(model => model.user.UserStatus)
                @Html.HiddenFor(model => model.user.UserPassword)
                @Html.HiddenFor(model => model.user.Email)
                @Html.HiddenFor(model => model.outreachEntity.OutreachEntityDetailID)
                @Html.HiddenFor(model => model.outreachEntity.CreateDate)
                @Html.HiddenFor(model => model.outreachEntity.UserID)
                @Html.HiddenFor(model => model.user.UserTypeID)
            
                <div class="editor-label">
                    @Html.LabelFor(model => model.outreachEntity.OutreachEntityTypeID, "Tipo de Organización")
                </div>
    
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.outreachEntity.OutreachEntityTypeID, Model.outreachTypes, new { @style = "margin: 0 0 1rem 0 !important; padding: 0.5rem !important; height: 2.3125rem !important; width: 100% !important;" })
                    @Html.ValidationMessageFor(model => model.outreachEntity.OutreachEntityTypeID)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.outreachEntity.OutreachEntityName, "Nombre de Organización *")
                </div>

                <div class="editor-field">
                    @Html.ValidationMessage("OutreachEntityDetail_OutreachEntityName_Invalid", new { @style = "float:left !important;" })
                    @Html.ValidationMessage("OutreachEntityDetail_OutreachEntityName_Required", new { @style = "float:left !important;" })
                    @Html.EditorFor(model => model.outreachEntity.OutreachEntityName, new { @style = "width: 500px !important;" })
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.user.Email, "Email *")
                </div>

                <div class="editor-field">
                    @Html.ValidationMessageFor(model => model.user.Email, null, new { @style = "float:left !important;" })
                    @Html.EditorFor(model => model.user.Email, new { @style ="width: 500px !important;"})                    
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.user.PhoneNumber, "Número de Teléfono")
                </div>

                <div class="editor-field">
                    @Html.ValidationMessageFor(model => model.user.PhoneNumber, null, new { @style = "float:left !important;" })
                    @Html.EditorFor(model => model.user.PhoneNumber, new { @style ="width: 500px !important;"})
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.outreachEntity.Mission, "Misión *")
                </div>

                <div class="editor-field">
                    @Html.ValidationMessage("OutreachEntityDetail_Mission_Invalid", new { @style = "float:left !important;" })
                    @Html.ValidationMessage("OutreachEntityDetail_Mission_Required", new { @style = "float:left !important;" })
                    @Html.TextAreaFor(model => model.outreachEntity.Mission, new { @style = "resize:none; width: 500px !important; height: 100px !important;" })                    
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.outreachEntity.Vision, "Visión *")
                </div>
                <div class="editor-field">
                    @Html.ValidationMessage("OutreachEntityDetail_Vision_Invalid", new { @style = "float:left !important;" })
                    @Html.ValidationMessage("OutreachEntityDetail_Vision_Required", new { @style = "float:left !important;" })
                    @Html.TextAreaFor(model => model.outreachEntity.Vision, new { @style = "resize:none; width: 500px !important; height: 100px !important;" })                    
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.outreachEntity.Objectives, "Objetivos *")
                </div>
                <div class="editor-field">
                    @Html.ValidationMessage("OutreachEntityDetail_Objectives_Invalid", new { @style = "float:left !important;" })
                    @Html.ValidationMessage("OutreachEntityDetail_Objectives_Required", new { @style = "float:left !important;" })
                    @Html.TextAreaFor(model => model.outreachEntity.Objectives, new { @style = "resize:none; width: 500px !important; height: 100px !important;" })
                    @Html.ValidationMessageFor(model => model.outreachEntity.Objectives, null, new { @style ="float:left !important;"})
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.outreachEntity.Location, "Localización")
                </div>
                <div class="editor-field">
                    @Html.ValidationMessage("OutreachEntityDetail_Location_Invalid", new { @style = "float:left !important;" })
                    @Html.EditorFor(model => model.outreachEntity.Location, new { @style = "width: 500px !important;" })
                </div>
                <br/>
                
            <p style="text-align:left;">
                <input type="submit" class="btn" style="float:left !important; width:40% !important; margin-left: 30px !important;" value="Guardar" /> <input type="button" value="Cancelar" class="btn" style="float:right !important; width:40% !important; margin-bottom: 20px !important; margin-right: 30px !important;" onclick="window.history.back()" />
            </p>
            </fieldset>
        </center>
}

<script src="~/Scripts/myScripts.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        getValue();
    })

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
