@model OPDB.Models.UserViewModel

@{
    ViewBag.Title = "Editar";
}

<style>
    .text-box {
        width: 500px;
    }

    .editor-label {
        text-align: left;
    }
</style>

@using (Html.BeginForm())
{
    
    <center>
        <fieldset style="width:500px;">
            <legend>Alcance</legend>
    
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false)
                @Html.HiddenFor(model => model.user.UserID)
                @Html.HiddenFor(model => model.user.CreateDate)
                @Html.HiddenFor(model => model.user.UserStatus)
                @Html.HiddenFor(model => model.user.UserPassword)
                @Html.HiddenFor(model => model.user.Email)
                @Html.HiddenFor(model => model.outreachEntity.OutreachEntityDetailID)
                @Html.HiddenFor(model => model.outreachEntity.CreateDate)
                @Html.HiddenFor(model => model.outreachEntity.UserID)
                @Html.HiddenFor(model => model.user.UserTypeID)
            
                <div class="editor-label">
                    @Html.LabelFor(model => model.outreachEntity.OutreachEntityTypeID, "Tipo de Organización")
                </div>
    
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.outreachEntity.OutreachEntityTypeID, Model.outreachTypes, new { @style = "margin: 0 0 1rem 0 !important; padding: 0.5rem !important; height: 2.3125rem !important; width: 100% !important;" })
                    @Html.ValidationMessageFor(model => model.outreachEntity.OutreachEntityTypeID)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.outreachEntity.OutreachEntityName, "Nombre de Organización")
                </div>

                <div class="editor-field">
                    @Html.EditorFor(model => model.outreachEntity.OutreachEntityName)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.user.Email, "Email")
                </div>

                <div class="editor-field">
                    @Html.EditorFor(model => model.user.Email)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.user.PhoneNumber, "Número de Teléfono")
                </div>

                <div class="editor-field">
                    @Html.EditorFor(model => model.user.PhoneNumber)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.outreachEntity.Mission, "Misión")
                </div>

                <div class="editor-field">
                    @Html.EditorFor(model => model.outreachEntity.Mission)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.outreachEntity.Vision, "Visión")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.outreachEntity.Vision)
                    @Html.ValidationMessageFor(model => model.outreachEntity.Vision)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.outreachEntity.Objectives, "Objetivos")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.outreachEntity.Objectives)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.outreachEntity.Location, "Localización")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.outreachEntity.Location)
                </div>
                <br/>
    
                <p style="text-align:left;">
                    <input type="submit" class="btn" value="Guardar" /> <input type="button" class="btn" value="Cancelar" onclick="window.history.back()" />
                </p>
            </fieldset>
        </center>
}

<script src="~/Scripts/myScripts.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        getValue();
    })

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
