@model IEnumerable<OPDB.Models.User>

@{
    ViewBag.Title = "Index";
}

<style>
    select {
        width: 50px !important;
        padding: 0.2rem !important;
        height: 1.5rem !important;
        margin: 0 !important;
    }

    label {
        width: 100% !important;
    }

    input[type="search"] {
        padding: 0.2rem;
    }

    th, td {
        text-align: center !important;
    }

    .previous, .next {
        display: none !important;
    }

</style>
<table id="outreach">
    <thead>
        <tr>
            <th>Tipo de Organización</th>
            <th>Nombre de Organización</th>
            <th>Email</th>
            <th>Número de Teléfono</th>
            <th>Creado</th>
            <th>Modificado</th>
            <th style="width:10%;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.OutreachEntityDetails.FirstOrDefault(outreach => outreach.UserID == item.UserID).OutreachEntityName, "Detalles", "Alcance", new { id = item.OutreachEntityDetails.FirstOrDefault(outreach => outreach.UserID == item.UserID).OutreachEntityDetailID }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OutreachEntityDetails.FirstOrDefault(outreach => outreach.UserID == item.UserID).OutreachEntityType.OutreachEntityType1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateDate)
                </td>
                <td>
                    <a href="@Url.Action("Editar", "Alcance", new { id = item.OutreachEntityDetails.FirstOrDefault(outreach => outreach.UserID == item.UserID).OutreachEntityDetailID })"><i class="fa fa-pencil" title="Editar"></i></a>
                    <i title="Remover" class="fa fa-remove" onclick="removeRecord(this, 'outreach')" data-url="@Url.Action("Remover", "Alcance", new { id = item.OutreachEntityDetails.FirstOrDefault(outreach => outreach.UserID == item.UserID).OutreachEntityDetailID })"></i>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

<input type="button" class="btn" value="Nueva Organización" onclick="location.href='@Url.Action("Crear", "Alcance")'" />

<script src="~/Scripts/myScripts.js"></script>
<script>
    $(document).ready(function () {

        $('#outreach').DataTable({
            "sDom": '<"top"f>t<"bottom"ipr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "iDisplayLength": 10,
            "aaSorting": [[1, "asc"]],
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": 6
                }

            ],
            "oLanguage": {
                "sEmptyTable": "No se ha creado ninguna entidad de alcance",
                "sZeroRecords": "No se ha encontrado ningún registro",
                "sSearch": "Buscar:"
            }
        });

        document.getElementsByTagName("loading")[0].innerHTML = "";
    });

</script>