@model IEnumerable<OPDB.Models.OutreachEntityDetail>

@{
    ViewBag.Title = "Index";
}

<style>
    select {
        width: 50px !important;
        padding: 0.2rem !important;
        height: 1.5rem !important;
        margin: 0 !important;
    }

    label {
        width: 100% !important;
    }

    input[type="search"] {
        padding: 0.2rem;
    }

    th, td {
        text-align: center !important;
    }

    .previous, .next {
        display: none !important;
    }

</style>

<h2>Organizaciones de Alcance</h2>

<p>
    @Html.ActionLink("Añadir Nueva Organizacion", "Crear")
</p>
<table id="outreach">
    <thead>
        <tr>
            <th>Tipo de Organización</th>
            <th>Nombre de Organización</th>
            <th>Email</th>
            <th>Número de Teléfono</th>
            <th style="width:10%;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OutreachEntityType.OutreachEntityType1)
                </td>
                <td>
                    @Html.ActionLink(item.OutreachEntityName + " ", "Detalles", "Alcance", new { id = item.OutreachEntityDetailID}, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.PhoneNumber)
                </td>
                <td>
                    <a href="@Url.Action("Editar", "Alcance", new { id = item.OutreachEntityDetailID })"><i class="fa fa-pencil" title="Editar"></i></a>
                    <i title="Remover" class="fa fa-remove" onclick="removeRecord(this)" data-url="@Url.Action("Remover", "Alcance", new { id = item.UserID })"></i>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/myScripts.js"></script>
<script>
    $(document).ready(function () {

        $('#outreach').DataTable({
            "sDom": '<"top"lf>t<"bottom"ipr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "iDisplayLength": 12,
            "aaSorting": [[1, "asc"]],
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": 4
                }


            ]
        });
    });

</script>