@model OPDB.Models.UserViewModel

@{
    ViewBag.Title = "Outreach";
    ViewBag.Nav = "Alcance";
}

<style>
    select {
        width: 50px !important;
        padding: 0.2rem !important;
        height: 1.5rem !important;
        margin: 0 !important;
    }

    input[type="search"] {
        padding: 0.2rem;
    }

    label {
        width: 100%;
    }

    tr {
        background-color: #EFEEEF !important;
    }

    table {
        border: none !important;
    }

    .last, .first, .previous, .next {
        display: none !important;
    }
    .link:hover {
        color: #007A0B !important;
    }
</style>

<h2>Organizaciones de Alcance</h2><br />
<table id="outreachList">
    <thead hidden>
        <tr><th></th></tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Information)
        {
            <tr>
                <td class="panel callout large-12 columns">
                    <h5>@Html.ActionLink(item.OutreachEntity.OutreachEntityName, "Detalles", "Alcance", new { id = item.User.UserID }, new { @class = "link", @style="color:black;"})</h5>
                    <span>Misión: </span> @item.OutreachEntity.Mission<br />
                    <span>Visión: </span> @item.OutreachEntity.Vision<br />
                    <span>Objetivos: </span> @item.OutreachEntity.Objectives<br />                 
                    @if (item.OutreachEntity.Location != null && item.OutreachEntity.Location != "") { 
                    <span>Localización:</span> @item.OutreachEntity.Location<br />}
                    @if (item.User.PhoneNumber != null)
                    {
                        <span>Teléfono: </span> @item.User.PhoneNumber
                    }
                </td>
            </tr>

        }
    </tbody>
</table>

<script src="~/Scripts/myScripts.js"></script>
<script>
    $(document).ready(function () {

        $('#outreachList').DataTable({
            "sDom": '<"top">t<"bottom"pr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "oLanguage": { "sSearch": "Filter:" },
            "oLanguage": {
                "sEmptyTable": "No se ha añadido ninguna organización de alcance",
                "sZeroRecords": "No se ha encontrado ningún registro"
            },
            "fnDrawCallback": function () {
                $("html").getNiceScroll().resize();
            }
        });
    });

</script>
