@model OPDB.Models.School

@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Escuela</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SchoolName, "Escuela")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SchoolName)
            @Html.ValidationMessageFor(model => model.SchoolName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Town)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Town)
            @Html.ValidationMessageFor(model => model.Town)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreateUser, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CreateUser", String.Empty)
            @Html.ValidationMessageFor(model => model.CreateUser)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreateDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreateDate)
            @Html.ValidationMessageFor(model => model.CreateDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdateUser, "User1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UpdateUser", String.Empty)
            @Html.ValidationMessageFor(model => model.UpdateUser)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdateDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UpdateDate)
            @Html.ValidationMessageFor(model => model.UpdateDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeletionDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DeletionDate)
            @Html.ValidationMessageFor(model => model.DeletionDate)
        </div>

        <p>
            <input type="Someter" value="Crear" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
