@model OPDB.Models.SchoolViewModel
@{
    ViewBag.Title = "Detalles";
}

<style>
 select {
        width: 50px !important;
        padding: 0.2rem !important;
        height: 1.5rem !important;
        margin: 0 !important;
    }

    label {
        width: 100% !important;
    }

    input[type="search"] {
        padding: 0.2rem;
    }

    th, td {
        text-align: center !important;
    }

     .last, .first, .previous, .next{
        display: none !important;
    }

</style>

<h2 style="text-align:center;">@Model.School.SchoolName</h2>
<br />
<div class="row">
    <div class="large-5 columns">
        <h3>Información</h3>
        <div class="display-label">
            @Html.LabelFor(model => model.School.SchoolID, "Número de Identificación")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.School.SchoolID)
        </div>
        <br />
        <div class="display-label">
            @Html.LabelFor(model => model.School.Address, "Dirección")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.School.Address)
        </div>
        <br />
        <div class="display-label">
            @Html.LabelFor(model => model.School.Town, "Pueblo")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.School.Town)
        </div>
        <br />
        <div class="display-label">
            @Html.LabelFor(model => model.School.PhoneNumber, "Número Telefónico")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.School.PhoneNumber)
        </div>
        <br />
        <p>
            <input type="button" value="Editar" onclick="location.href='@Url.Action("Editar", "Escuelas", new { id = Model.School.SchoolID })'" />
            <a href="#" title="Añadir Nota" class="modal_ajax_btn" data-title="Nueva Nota" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("CrearNota", "Escuelas", new { id = Model.School.SchoolID })"><input type="button" value="Añadir Nota" /></a>
            <input type="button" value="Devuelta" onclick="location.href='@Url.Action("Index", "Escuelas")'" />
        </p>
    </div>

    <div class="large-7 columns">
        <h3>Notas</h3>
        <table id="schoolNotes">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th style="width:70%;">Nota</th>
                    <th style="width:10%;"></th>
                </tr> 
            </thead>
            <tbody>
                @foreach (var note in Model.Notes)
                {
                    <tr>
                        <td>@note.NoteType.NoteType1</td>
                        <td><a href="#" title="Ver Nota" data-validation="false" data-title="Detalles" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("VerNota", "Escuelas", new { id = note.SchoolNoteID })" class="modal_ajax_btn">@String.Concat(note.Note, "...")</a></td>
                        <td>
                            <a href="#" title="Editar" data-title="Editar Nota" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("EditarNota", "Escuelas", new { id = note.SchoolNoteID })" class="modal_ajax_btn"><i class="fa fa-pencil"></i></a> 
                            <i title="Remover" class="fa fa-remove" onclick="removeRecord(this, 'schoolNotes')" data-url="@Url.Action("RemoverNota", "Escuelas", new { id = note.SchoolNoteID })"></i>
  
                        </td>
                    </tr>
                }
            </tbody>
             
        </table>
</div>
</div>


                    
<script src="~/Scripts/myScripts.js"></script>
<script>
    $(document).ready(function () {

        $('#schoolNotes').DataTable({
            "sDom": '<"top"lf>t<"bottom"pr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "iDisplayLength": 12,
            "aaSorting":[[1, "asc"]],
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": 2
                }
            ],
            "oLanguage": { "sEmptyTable": "No se ha dejado ninguna nota",
                "sZeroRecords": "No se ha encontrado ningún registro" }
        });
    });

</script>
