@model OPDB.Models.SchoolViewModel

@{
    ViewBag.Title = "Editar";
}


@using (Ajax.BeginForm("Editar", "Escuelas", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "validation" }))
{

    @Html.ValidationSummary(false)

    @Html.HiddenFor(model => model.School.SchoolID)
    @Html.HiddenFor(model => model.School.CreateUser)
    @Html.HiddenFor(model => model.School.CreateDate)
    

    <div class="editor-label">
        @Html.LabelFor(model => model.School.SchoolName, "Escuela")
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.School.SchoolName)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.School.SchoolSequenceNumber, "ID de la Escuela")
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.School.SchoolSequenceNumber)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.School.Address, "Dirección Física")
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.School.Address)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.School.Town, "Pueblo")
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.School.Town, Model.Towns, new { @style = "margin: 0 0 1rem 0 !important; padding: 0.5rem !important; height: 2.3125rem !important; width: 100% !important;" })
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.School.PhoneNumber, "Número Telefónico")
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.School.PhoneNumber)
    </div>
    <br />
    <p>
        <input type="submit" class="btn" style="float:left !important; width:40% !important; margin-left: 30px !important;" value="Guardar" /> <input type="button" value="Cancelar" class="btn" style="float:right !important; width:40% !important; margin-bottom: 20px !important; margin-right: 30px !important;" onclick="modalClose()" />
    </p>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
