@model OPDB.Models.SchoolViewModel

@{
    ViewBag.Title = "Escuelas";
}
<style>
    select {
        width: 50px !important;
        padding: 0.2rem !important;
        height: 1.5rem !important;
        margin: 0 !important;
    }

    label {
        width: 100% !important;
    }

    input[type="search"] {
        padding: 0.2rem;
    }

    th, td {
        text-align: center !important;
    }

    .previous, .next{
        display: none !important;
    }

     a:not(.button) {
      color: #222222; }
    
</style>
<br />
<table id="schools">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Identificación</th>
            <th>Creado Por</th>
            <th>En</th>
            <th>Modificado Por</th>
            <th>En</th>
            <th style="width:6%;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Information)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.School.SchoolName + " ", "Detalles", "Escuelas", new { id = item.School.SchoolID }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.School.SchoolSequenceNumber)
                </td>
                <td>
                    @Html.ActionLink(item.CreateUser.FirstName + " " + item.CreateUser.MiddleInitial + " " + item.CreateUser.LastName, "Detalles", "Usuarios", new { id = item.School.CreateUser }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.School.CreateDate)
                </td>
                <td>
                    @Html.ActionLink(item.UpdateUser.FirstName + " " + item.UpdateUser.MiddleInitial + " " + item.UpdateUser.LastName, "Detalles", "Usuarios", new { id = item.School.UpdateUser }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.School.UpdateDate)
                </td>
                <td>
                    <a href="#" title="Editar" data-title="Editar Escuela" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("PopUpEditar", "Escuelas", new { id = item.School.SchoolID })" class="modal_ajax_btn"><i class="fa fa-pencil"></i></a> 
                    <i title="Remover" class="fa fa-remove" style="cursor:pointer;" onclick="removeRecord(this)" data-url="@Url.Action("Remover", "Escuelas", new { id = item.School.SchoolID })"></i>        
                </td>
            </tr>
        }
    </tbody>
</table>
<br />


   <a href="#" title="Añadir Escuela" class="modal_ajax_btn" data-title="Nueva Escuela" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("PopUpCrear", "Escuelas", null)"><input type="button" class="btn" value="Nueva Escuela" /></a><br />   


<script src="~/Scripts/myScripts.js"></script>
<script>
    $(document).ready(function () {

        $('#schools').DataTable({
            "sDom": '<"top"lf>t<"bottom"ipr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "iDisplayLength": 12,
            "aaSorting": [[1, "asc"]],
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": 6
                }


            ],
            "oLanguage": {"sEmptyTable": "No se ha añadido ninguna escuela",
                "sZeroRecords": "No se ha encontrado ningún registro"}
        });
        document.getElementsByTagName("loading")[0].innerHTML = "";
    });


</script>