@model IEnumerable<OPDB.Models.School>

@{
    ViewBag.Title = "Escuelas";
}

<h2>Escuelas</h2>

<p>
    @Html.ActionLink("Nueva Escuela", "Crear")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SchoolName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Town)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Town)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.SchoolID }) |
            @Html.ActionLink("Detalles", "Detalles", new { id=item.SchoolID }) |
            @Html.ActionLink("Remover", "Remover", new { id=item.SchoolID })
        </td>
    </tr>
}

</table>
