@model IEnumerable<OPDB.Models.School>

@{
    ViewBag.Title = "Escuelas";
}
<style>
    select {
        width: 50px !important;
        padding: 0.2rem !important;
        height: 1.5rem !important;
        margin: 0 !important;
    }

    label {
        width: 100% !important;
    }

    input[type="search"] {
        padding: 0.2rem;
    }

    th, td {
        text-align: center !important;
    }

    .previous, .next{
        display: none !important;
    }

    
</style>
<h2>Escuelas</h2>
<br />
<table id="schools">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Identificación</th>
            <th>Dirección</th>
            <th>Pueblo</th>
            <th>Número Telefonico</th>
            <th style="width:10%;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.SchoolName + " ", "Detalles", "Escuelas", new { id = item.SchoolID }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SchoolID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Town)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <a href="@Url.Action("Editar", "Escuelas", new { id = item.SchoolID })"><i class="fa fa-pencil" title="Editar"></i></a>
                    <i title="Remover" class="fa fa-remove" onclick="removeRecord(this)" data-url="@Url.Action("Remover", "Escuelas", new { id = item.SchoolID })"></i>
        
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<p>
   
        <input type="button" value="Nueva Escuela" onclick="location.href='@Url.Action("Crear", "Escuelas")'" /> 
   
</p>
<script src="~/Scripts/myScripts.js"></script>
<script>
    $(document).ready(function () {

        $('#schools').DataTable({
            "sDom": '<"top"lf>t<"bottom"ipr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "iDisplayLength": 12,
            "aaSorting": [[1, "asc"]],
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": 5
                }


            ]
        });
    });


</script>