@model IEnumerable<OPDB.Models.School>

@{
    ViewBag.Title = "Escuelas";
}

<style>
    select {
        width: 50px !important;
        padding: 0.2rem !important;
        height: 1.5rem !important;
        margin: 0 !important;
    }

    input[type="search"] {
        padding: 0.2rem;
    }

    label{
        width:100%;
    }

    tr{
        background-color: #EFEEEF !important;
    }

    table{
        border: none !important;
    }

      .last, .first, .previous, .next{
        display: none !important;
    }
</style>

<h2>Escuelas</h2><br />
<table id="schoolList">
    <thead hidden>
        <tr><th></th></tr>
    </thead>
    <tbody>
        @foreach (var school in Model)
        {
            <tr>
                <td class="panel callout large-12 columns">
                    @Html.ActionLink(school.SchoolName, "Detalles", "Escuelas", new { id = school.SchoolID }, null)<br />
                    <span>Dirección: </span> @school.Address<br />
                    <span>Pueblo: </span> @school.Town<br />
                    <span>Región: </span>@school.SchoolRegion.SchoolRegion1<br />
                    @if (school.PhoneNumber != null)
                    {
                        <span>Telefono: </span> @school.PhoneNumber
                    }
                </td>
            </tr>

        }
    </tbody>
</table>

<script src="~/Scripts/myScripts.js"></script>
<script>
    $(document).ready(function () {

        $('#schoolList').DataTable({
            "sDom": '<"top">t<"bottom"pr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "oLanguage": { "sSearch": "Filter:" },
            "oLanguage": {
                "sEmptyTable": "No se ha añadido ninguna escuela",
                "sZeroRecords": "No se ha encontrado ningún registro"
            },
            "fnDrawCallback": function () {
                $("html").getNiceScroll().resize();
            }
        });
    });


</script>
