@model OPDB.Models.SchoolViewModel

@{
    ViewBag.Title = "Removidos";
}

<style>
    select {
        width: 50px !important;
        padding: 0.2rem !important;
        height: 1.5rem !important;
        margin: 0 !important;
    }

    label {
        width: 100% !important;
    }

    input[type="search"] {
        padding: 0.2rem;
    }

    th, td {
        text-align: center !important;
    }

    .previous, .next {
        display: none !important;
    }

       a span i:hover {
        color: #007A0B;
    }

    .link:hover {
        color: #007A0B !important;
    }

    .fa-plus:hover {
        color: #007A0B !important;
    }
</style>

<table id="removedSchoolsTable">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Identificación</th>
            <th>Creado Por</th>
            <th>En</th>
            <th>Modificado Por</th>
            <th>En</th>
            <th>Removido En</th>
            <th style="width:6%;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Information)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.School.SchoolName + " ", "Detalles", "Escuelas", new { id = item.School.SchoolID }, new { @class = "link", @onclick = "sessionStorage.setItem('Route', 'admin');" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.School.SchoolID)
                </td>
                <td>
                    @Html.ActionLink(item.CreateUser.FirstName + " " + item.CreateUser.MiddleInitial + " " + item.CreateUser.LastName, "Detalles", "Usuarios", new { id = item.School.CreateUser }, new { @class = "link", @onclick = "sessionStorage.setItem('Route', 'admin');" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.School.CreateDate)
                </td>
                <td>
                    @Html.ActionLink(item.UpdateUser.FirstName + " " + item.UpdateUser.MiddleInitial + " " + item.UpdateUser.LastName, "Detalles", "Usuarios", new { id = item.School.UpdateUser }, new { @class = "link", @onclick = "sessionStorage.setItem('Route', 'admin');" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.School.UpdateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.School.DeletionDate)
                </td>
                <td>
                    <i title="Restaurar" style="cursor: pointer !important;" class="fa fa-plus" onclick="restoreRecord(this, 'removedSchools')" data-url="@Url.Action("Restaurar", "Escuelas", new { id = item.School.SchoolID })"></i>                
                </td>
            </tr>

        }
    </tbody>
</table>
<br />


<script src="~/Scripts/myScripts.js"></script>
<script>
    $(document).ready(function () {


        sessionStorage.setItem('Tab', 'schoolsURL');

        $('#removedSchoolsTable').DataTable({
            "sDom": '<"top"f>t<"bottom"ipr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "iDisplayLength": 10,
            "aaSorting": [[1, "asc"]],
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": 7
                }
            ],
            "oLanguage": {
                "sEmptyTable": "No se ha removido ninguna escuela",
                "sSearch": "Buscar:"
            }
        });

        document.getElementsByTagName("loading")[0].innerHTML = "";
        document.getElementsByTagName("loadinginner")[0].innerHTML = "";
    });


</script>
