@model OPDB.Models.School

@{
    ViewBag.Title = "Remover";
}

<h2>Remover</h2>

<h3>Estas seguro que quieres remover esta información del sistema?</h3>
<fieldset>
    <legend>School</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SchoolName)
    </div>

    <div class="display-field">
        @Html.DisplayFor(model => model.SchoolName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.SchoolID)
    </div>

    <div class="display-field">
        @Html.DisplayFor(model => model.SchoolID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Town)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Town)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PhoneNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Remover" /> |
        @Html.ActionLink("Devuelta", "Index")
    </p>
}
