@model OPDB.Models.OutreachEntityDetail

@{
    ViewBag.Title = "Editar";
}

<style>
    .text-box, .editor-field {
        width: 500px;
    }

    .editor-label {
        text-align: left;
    }
</style>

<h2>Editar Organización de Alcance</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>OutreachEntityDetail</legend>

        @Html.HiddenFor(model => model.OutreachEntityDetailID)

        <div class="editor-label">
            @Html.LabelFor(model => model.OutreachEntityTypeID, "OutreachEntityType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("OutreachEntityTypeID", String.Empty)
            @Html.ValidationMessageFor(model => model.OutreachEntityTypeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OutreachEntityName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OutreachEntityName)
            @Html.ValidationMessageFor(model => model.OutreachEntityName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mission)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Mission, new {@style = "resize: none; height: 100px;" })
            @Html.ValidationMessageFor(model => model.Mission)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vision)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Vision, new { @style = "resize: none; height: 100px;" })
            @Html.ValidationMessageFor(model => model.Vision)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Objectives)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Objectives, new { @style = "resize: none; height: 100px;" })
            @Html.ValidationMessageFor(model => model.Objectives)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Location)
            @Html.ValidationMessageFor(model => model.Location)
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Devuelta", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
