@model OPDB.Models.OutreachEntityDetail

@{
    ViewBag.Title = "Remover";
}

<h2>Remover</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>OutreachEntityDetail</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OutreachEntityType.OureachEntityType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OutreachEntityType.OureachEntityType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OutreachEntityName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OutreachEntityName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mission)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mission)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Vision)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vision)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Objectives)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Objectives)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Remover" /> |
        @Html.ActionLink("Devuelta", "Index")
    </p>
}
