@model OPDB.Models.SearchViewModel

<style>
    .text-box, .editor-field {
        width: 400px;
    }

    .editor-label {
        text-align: left;
    }
</style>

@using (Html.BeginForm("BuscarActividades", "Home", FormMethod.Post))
{
        <div class="editor-label">
            @Html.LabelFor(model => model.activity.ActivityTypeID, "Tipo de Actividad")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.activity.ActivityTypeID, Model.types)
        </div><br />

       <div class="editor-label">
            @Html.LabelFor(model => model.activity.Title, "Título")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.activity.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.activity.Purpose, "Proposito")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.activity.Purpose)
        </div>
                    
        <p style="float:right;">
            <input type="submit" class="btn" value="Buscar" />
        </p>
}

<script>
    $(document).ready(function () {
        $("html").getNiceScroll().resize();
    });
</script>