@model OPDB.Models.SearchViewModel

<style>
    .text-box, .editor-field {
        width: 400px;
    }

    .editor-label {
        text-align: left;
    }
</style>

@using (Html.BeginForm("BuscarAlcance", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <div class="editor-label">
            @Html.LabelFor(model => model.outreachEntity.OutreachEntityTypeID, "Tipo de Entidad")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.outreachEntity.OutreachEntityTypeID, Model.types)
            @Html.ValidationMessageFor(model => model.outreachEntity.OutreachEntityTypeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.outreachEntity.OutreachEntityName, "Nombre")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.outreachEntity.OutreachEntityName)
            @Html.ValidationMessageFor(model => model.outreachEntity.OutreachEntityName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.outreachEntity.Mission, "Misión")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.outreachEntity.Mission)
            @Html.ValidationMessageFor(model => model.outreachEntity.Mission)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.outreachEntity.Vision, "Visión")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.outreachEntity.Vision)
            @Html.ValidationMessageFor(model => model.outreachEntity.Vision)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.outreachEntity.Objectives, "Objetivos")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.outreachEntity.Objectives)
            @Html.ValidationMessageFor(model => model.outreachEntity.Objectives)
        </div>
        <p style="float:right;">
            <input type="submit" value="Buscar" />
        </p>
}