@model OPDB.Models.SearchViewModel

<style>
    .text-box, .editor-field {
        width: 400px;
    }

    .editor-label {
        text-align: left;
    }
</style>

@using (Html.BeginForm("BuscarAlcance", "Home", FormMethod.Post))
{
        <div class="editor-label">
            @Html.LabelFor(model => model.OutreachEntity.OutreachEntityTypeID, "Tipo de Entidad")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.OutreachEntity.OutreachEntityTypeID, Model.Types)
        </div><br />

        <div class="editor-label">
            @Html.LabelFor(model => model.OutreachEntity.OutreachEntityName, "Nombre")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OutreachEntity.OutreachEntityName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OutreachEntity.Mission, "Misión")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OutreachEntity.Mission)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OutreachEntity.Vision, "Visión")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OutreachEntity.Vision)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OutreachEntity.Objectives, "Objetivos")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OutreachEntity.Objectives)
        </div>
        <p style="float:right;">
            <input type="submit" class="btn" value="Buscar" />
        </p>
}

<script>
    $(document).ready(function () {
        $("html").getNiceScroll().resize();
    });
</script>