@model OPDB.Models.SearchViewModel


<style>
    .text-box, .editor-field {
        width: 400px;
    }

    .editor-label {
        text-align: left;
    }
</style>

@using (Html.BeginForm("BuscarUsuarios", "Home", FormMethod.Post)) {
        <div class="editor-label">
            @Html.LabelFor(model => model.User.User.UserTypeID, "Tipo de Usuario")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.User.User.UserTypeID, Model.Types)
        </div><br />
       <div class="editor-label">
                @Html.LabelFor(model => model.User.FirstName, "Nombre")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.User.FirstName, new { @style = "width: 500px !important;" })
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.User.LastName, "Apellido")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.User.LastName, new { @style = "width: 500px !important;" })
            </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.User.Role, "Rol")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User.Role, new { @style = "width: 500px !important;" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.User.Major, "Concentración")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User.Major, new { @style = "width: 500px !important;" })
        </div>

        <p style="text-align:right;">
            <input type="submit" class="btn" value="Buscar" />
        </p>
}

<script>
    $(document).ready(function () {
        $("html").getNiceScroll().resize();
    });
</script>