@model OPDB.Models.SearchViewModel

@{
    ViewBag.Title = "Resultados";
}

<h2>Resultados de Busqueda</h2>
<fieldset>
    @if (Model.buscarUsuarios == true)
    {
        <h3>Usuarios</h3>
        <ul>
            @if (Model.users.Count() > 0) { 
                foreach (var user in Model.users)
                {
                    <li>
                        @Html.ActionLink(user.FirstName + " " + user.LastName, "Detalles", "Usuarios", new { id = user.UserID }, null)
                    </li>
                }
            }
            else
            {
                <li>
                   No hubo resultados.
                </li>
            }
        </ul>
        <br />
    }
    @if (Model.buscarAlcance == true)
    {
        <h3>Entidades de Alcance</h3>
        <ul>
            @if (Model.outreachEntities.Count() > 0) {
                foreach (var outreach in Model.outreachEntities)
                {
                    <li>
                        @Html.ActionLink(outreach.OutreachEntityName, "Detalles", "Alcance", new { id = outreach.OutreachEntityDetailID }, null)
                    </li>
                }
            }
            else
            {
                <li>
                    No hubo resultados.
                </li>
            }
        </ul>
        <br />
    }
    @if (Model.buscarActividades == true)
    {
        <h3>Actividades</h3>
        <ul>
            @if (Model.activities.Count() > 0) { 
                foreach (var activity in Model.activities)
                {
                    <li>
                        @Html.ActionLink(activity.Title, "Detalles", "Actividades", new { id = activity.ActivityID }, null)
                    </li>
                }
            }
            else
            {
                <li>
                    No hubo resultados.
                </li>
            }
        </ul>
        <br />
    }
    @if (Model.buscarUnidades == true)
    {
        <h3>Unidades</h3>
        <ul>
            @if (Model.units.Count() > 0) { 
                foreach (var unit in Model.units)
                {
                    <li>
                        @Html.ActionLink(unit.UnitName, "Detalles", "Unidades", new { id = unit.UnitID }, null)
                    </li>
                }
            }
            else
            {
                <li>
                    No hubo resultados.
                </li>
            }
        </ul>
        <br />
    }

    @if (Model.buscarEscuelas == true)
    {
        <h3>Escuelas</h3>
        <ul>
            @if (Model.schools.Count() > 0) { 
                foreach (var school in Model.schools)
                {
                    <li>
                        @Html.ActionLink(school.SchoolName, "Detalles", "Escuelas", new { id = school.SchoolID }, null)
                    </li>
                }
            }
            else
            {
                <li>
                    No hubo resultados.
                </li>
            }
        </ul>
    }
</fieldset>