@model OPDB.Models.SearchViewModel

@{
    ViewBag.Title = "Resultados";
}

<h2>Resultados de Busqueda</h2>
<fieldset>
    @if (Model.buscarUsuarios == true)
    {
        <h3>Usuarios</h3>
        <ul>
            @foreach (var user in Model.users)
            {
                <li>
                    @Html.ActionLink(user.FirstName + " " + user.LastName, "Detalles", "Usuarios", new { id = user.UserID }, null)
                </li>
            }
        </ul>
        <br />
    }
    @if (Model.buscarAlcance == true)
    {
        <h3>Entidades de Alcance</h3>
        <ul>
            @foreach (var outreach in Model.outreachEntities)
            {
                <li>
                    @Html.ActionLink(outreach.OutreachEntityName, "Detalles", "Alcance", new { id = outreach.OutreachEntityDetailID }, null)
                </li>
            }
        </ul>
        <br />
    }
    @if (Model.buscarActividades == true)
    {
        <h3>Actividades</h3>
        <ul>
            @foreach (var activity in Model.activities)
            {
                <li>
                    @Html.ActionLink(activity.Title, "Detalles", "Actividades", new { id = activity.ActivityID }, null)
                </li>
            }
        </ul>
        <br />
    }
    @if (Model.buscarUnidades == true)
    {
        <h3>Unidades</h3>
        <ul>
            @foreach (var unit in Model.units)
            {
                <li>
                    @Html.ActionLink(unit.UnitName, "Detalles", "Unidades", new { id = unit.UnitID }, null)
                </li>
            }
        </ul>
        <br />
    }

    @if (Model.buscarEscuelas == true)
    {
        <h3>Escuelas</h3>
        <ul>
            @foreach (var school in Model.schools)
            {
                <li>
                    @Html.ActionLink(school.SchoolName, "Detalles", "Escuelas", new { id = school.SchoolID }, null)
                </li>
            }
        </ul>
    }
</fieldset>