@model OPDB.Models.HomeViewModel

@{
    ViewBag.Title = "Inicio";
}

<style>
    span{
        font-size: 0.875rem;
        color: #4d4d4d;
    }

    h4{
         color: #4d4d4d;
    }

    r{
         font-size: 0.875rem;
    }
</style>

<h3>Nuevas Actividades</h3><br />

@foreach (var activity in Model.activities)
{

    <div class="large-6 columns panel">
        <h4>@activity.Title</h4>
        <span>Propósito: </span><r>@activity.Purpose</r><br />
        <span>Tipo: </span><r>@activity.ActivityType.ActivityType1</r><br />
        @if (activity.Location != null)
        {<span>Lugar: </span><r>@activity.Location</r><br /> }
        @if (activity.ActivityDate != null)
        { <span>Fecha: </span><r>@activity.ActivityDate.Value.ToString("dd/MM/yyyy")</r><br />}
        @if (activity.ActivityTime != null)
        { <span>Hora: </span><r>@activity.ActivityTime</r><br />}
    </div>


}
<br />
