@model OPDB.Models.UnitViewModel

@{
    ViewBag.Title = "Crear";
}

@using (Ajax.BeginForm("Crear", "Unidades", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "validation"}))
{

        <div class="editor-label">
            @Html.LabelFor(model => model.Unit.UnitName, "Nombre de Unidad *")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unit.UnitName)
            @Html.ValidationMessageFor(model => model.Unit.UnitName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unit.Building, "Edificio *")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unit.Building)
            @Html.ValidationMessageFor(model => model.Unit.Building)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unit.RoomNumber, "Oficina o Salón *")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unit.RoomNumber)
            @Html.ValidationMessageFor(model => model.Unit.RoomNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unit.PhoneNumber, "Teléfono *")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unit.PhoneNumber)
            @Html.ValidationMessageFor(model => model.Unit.PhoneNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unit.Extension, "Extensión")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unit.Extension)
            @Html.ValidationMessageFor(model => model.Unit.Extension)
        </div>

        <input type="submit" class="btn" style="float:left !important; width:40% !important; margin-left: 30px !important;" value="Crear" />    <input type="button" class="btn" style="float:right !important; width:40% !important; margin-bottom: 20px !important; margin-right: 30px !important;" value="Cancelar" onclick="modalClose()" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
