@model OPDB.Models.UnitViewModel

@{
    ViewBag.Title = "Detalles"; @*this is the text that shows up in the browser tab*@
}
<br />
    <div class="display-label">
         @Html.LabelFor(model => model.Unit.Building, "Edificio")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unit.Building)
    </div><br />

    <div class="display-label">
         @Html.LabelFor(model => model.Unit.RoomNumber, "Oficina o Salón")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unit.RoomNumber)
    </div><br />

    <div class="display-label">
         @Html.LabelFor(model => model.Unit.PhoneNumber, "Teléfono")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unit.PhoneNumber)
    </div><br />

    <div class="display-label">
         @Html.LabelFor(model => model.Unit.Extension, "Extensión")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unit.Extension)
    </div>

<a href="#" title="Editar" class="modal_ajax_btn" data-title="Editar Unidad" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("PopUpEditar", "Unidades", new { id = Model.Unit.UnitID })"><input type="button" class="btn" style="float:left !important; width:40% !important; margin-left: 30px !important;" value="Editar" /></a>
<input type="button" class="btn" style="float:right !important; width:40% !important; margin-bottom: 20px !important; margin-right: 30px !important;" value="Volver" onclick="modalClose()" />
