@model OPDB.Models.UnitViewModel

@{
    ViewBag.Title = "Index";
}
<style>
    select {
        width: 50px !important;
        padding: 0.2rem !important;
        height: 1.6rem !important;
        margin: 0 !important;
    }

    label {
        width: 100% !important;
    }

    input[type="search"] {
        padding: 0.2rem;
    }

    th, td {
        text-align: center !important;
    }
</style>

<table id="units">
    <thead>
        <tr>
            <th>Unidad</th>
            <th>Creado Por</th>
            <th>En</th>
            <th>Modificado Por</th>
            <th>En</th>
            <th style="width:6%;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Information)
        {
            <tr>
                <td>
                    <a href="#" title="Ver Detalles" class="modal_ajax_btn" data-validation="false" data-title="@item.Unit.UnitName" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("Detalles", "Unidades", new { id = item.Unit.UnitID })">@item.Unit.UnitName</a>
                </td>
                <td>
                   @Html.ActionLink(item.CreateUser.FirstName + " " + item.CreateUser.MiddleInitial + " " + item.CreateUser.LastName, "Detalles", "Usuarios", new { id = item.Unit.CreateUser }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit.CreateDate)
                </td>
                <td>
                    @Html.ActionLink(item.UpdateUser.FirstName + " " + item.UpdateUser.MiddleInitial + " " + item.UpdateUser.LastName, "Detalles", "Usuarios", new { id = item.Unit.UpdateUser }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit.UpdateDate)
                </td>
                <td>
                    <a href="#" title="Editar" data-title="Editar Unidad" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("PopUpEditar", "Unidades", new { id = item.Unit.UnitID })" class="modal_ajax_btn"><i class="fa fa-pencil"></i></a> 
                    <i title="Remover" class="fa fa-remove" onclick="removeRecord(this, 'units')" data-url="@Url.Action("Remover", "Unidades", new { id = item.Unit.UnitID })"></i>
                   
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

<a href="#" title="Crear Unidad" class="modal_ajax_btn" data-title="Nueva Unidad" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("PopUpCrear", "Unidades", null)"><input type="button" class="btn" value="Nueva Unidad" /></a>

<script src="~/Scripts/myScripts.js"></script>
<script>
    $(document).ready(function () {

        $('#units').DataTable({
            "sDom": '<"top"f>t<"bottom"ipr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "iDisplayLength": 10,
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": [4]
                },
                 {
                     "searchable": false,
                     "targets": [1, 2]
                 }
            ],
            "oLanguage": {
                "sEmptyTable": "No se ha creado ninguna unidad",
                "sZeroRecords": "No se ha encontrado ningún registro",
                "sSearch": "Buscar:"
            },
            "fnDrawCallback": function () {
                $("html").getNiceScroll().resize();
            }
        });

        document.getElementsByTagName("loading")[0].innerHTML = "";
    });
</script>
