@model IEnumerable<OPDB.Models.Unit>

@{
    ViewBag.Title = "Index";
}

<h2>Unidades</h2>

<style>
    select {
        width: 50px !important;
        padding: 0.2rem !important;
        height: 1.5rem !important;
        margin: 0 !important;
    }

    label {
        width: 100% !important;
    }

    input[type="search"] {
        padding: 0.2rem;
    }

    th, td {
        text-align: center !important;
    }
</style>

<table id="units">
    <thead>
        <tr>
            <th style="width:50%;">Unidad</th>
            <th style="width:10%;">Edificio</th>
            <th style="width:10%;">Oficina</th>
            <th style="width:12%;">Teléfono</th>
            <th style="width:10%;">Extensión</th>
            <th style="width:8%;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Building)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Extension)
                </td>
                <td>
                    <a href="@Url.Action("Detalles", "Unidades", new { id = item.UnitID})"><i class="fa fa-info-circle" title="Ver Detalles"></i></a>
                    <a href="@Url.Action("Editar", "Unidades", new { id = item.UnitID })"><i class="fa fa-pencil" title="Editar"></i></a>
                    @if (item.DeletionDate == null)
                    {
                        <i title="Remover" class="fa fa-remove" onclick="removeRecord(this)" data-url="@Url.Action("Remover", "Unidades", new { id = item.UnitID })"></i>
                    }
                    else
                    {
                        <i title="Restaurar" class="fa fa-plus"></i>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

<p>
    @Html.ActionLink("Añadir nueva unidad...", "Crear")
</p>

<script src="~/Scripts/myScripts.js"></script>
<script>
    $(document).ready(function () {

        $('#units').DataTable({
            "sDom": '<"top"lf>t<"bottom"ipr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "iDisplayLength": 12,
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": [0, 1, 2]
                },
                 {
                     "searchable": false,
                     "targets": [1, 2]
                 }
            ]
        });
    });
</script>
