@model OPDB.Models.UserViewModel

@{
    ViewBag.Title = "Iniciar Sesión";
}

<center>
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>


    <section style="width:50%;">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Formulario de Inicio</legend>
                <ol>
                    <li>
                        @*<p style="float:left;">Correo Electrónico</p>*@
                        @Html.LabelFor(model => model.user.Email, new { @style = "float:left;" })
                        @Html.TextBoxFor(model => model.user.Email)
                        @Html.ValidationMessageFor(model => model.user.Email)
                    </li>
                    <li>
                        @Html.LabelFor(model => model.user.UserPassword, new { @style = "float:left;" })
                        @Html.PasswordFor(model => model.user.UserPassword)
                        @Html.ValidationMessageFor(model => model.user.UserPassword)
                    </li>
                    @*<li>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                    </li>*@
                </ol>
                <input type="submit" class="btn" value="Ingresar" />
            </fieldset>
            <p>
                @Html.ActionLink("Registrese", "Crear", "Usuarios") si no tiene cuenta.
            </p>
        }
    </section>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
