@model IEnumerable<OPDB.Models.Resource>
@using Microsoft.Ajax.Utilities

@{
    ViewBag.Title = "Recursos";
}

<style>
    select {
        width: 50px !important;
        padding: 0.2rem !important;
        height: 1.5rem !important;
        margin: 0 !important;
    }

    label {
        width: 100% !important;
    }

    input[type="search"] {
        padding: 0.2rem;
    }

    th, td {
        text-align: center !important;
    }

    .previous, .next{
        display: none !important;
    }

    i{
        cursor: pointer;
    }
</style>
<div>
    <table id="resources">
        <thead>
            <tr>
                <th>Recurso</th>
                <th style="width:50%;">Unidad</th>
                <th style="width:10%"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="#" title="Ver Detalles" class="modal_ajax_btn" data-validation="false" data-title="@item.Resource1" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("Detalles", "Recursos", new { id = item.ResourceID})">@item.Resource1</a>
                        @*<a title="Ver Detalles" onclick="loadResourceAction(this)" data-url="@Url.Action("Detalles", "Recursos", new { id = item.ResourceID })">@item.Resource1</a>*@
                     </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unit.UnitName)
                    </td>
                    <td>
                        <a href="#" title="Editar" data-title="Editar Recurso" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("PopUpEditar", "Recursos", new { id = item.ResourceID })" class="modal_ajax_btn"><i class="fa fa-pencil"></i></a> 
                        <i title="Remover" class="fa fa-remove" onclick="removeRecord(this, 'resources')" data-url="@Url.Action("Remover", "Recursos", new { id = item.ResourceID })"></i>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <br />
    <a href="#" title="Crear Recurso" class="modal_ajax_btn" data-title="Nuevo Recurso" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("PopUpCrear", "Recursos", null)"><input type="button" value="Nuevo Recurso"/></a>
   
</div>

<script src="~/Scripts/myScripts.js"></script>
<script>
    $(document).ready(function () {

        $('#resources').DataTable({
            "sDom": '<"top"lf>t<"bottom"ipr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "iDisplayLength": 12,
            "aaSorting": [[1, "asc"]],
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": 2
                }


            ]
        });
    });

</script>