@model IEnumerable<OPDB.Models.Resource>

@{
    ViewBag.Title = "Recursos";
}

<style>
    select {
        width: 50px !important;
        padding: 0.2rem !important;
        height: 1.5rem !important;
        margin: 0 !important;
    }

    label {
        width: 100% !important;
    }

    input[type="search"] {
        padding: 0.2rem;
    }

    th, td {
        text-align: center !important;
    }

    .previous, .next{
        display: none !important;
    }

    i{
        cursor: pointer;
    }
</style>

<h2>Recursos</h2>

<div>
    <table id="resources">
        <thead>
            <tr>
                <th>Recurso</th>
                <th style="width:50%;">Unidad</th>
                <th style="width:10%"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a title="Ver Detalles" onclick="loadResourceAction(this)" data-url="@Url.Action("Detalles", "Recursos", new { id = item.ResourceID })">@item.Resource1</a>
                     </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unit.UnitName)
                    </td>
                    <td>
                        @*<a href="@Url.Action("Editar", "Recursos", new { id = item.ResourceID })"><i class="fa fa-pencil" title="Editar"></i></a>
                        <i title="Remover" class="fa fa-remove" onclick="removeRecord(this, 'users')" data-url="@Url.Action("Remover", "Recursos", new { id = item.ResourceID })"></i>*@
                        <i class="fa fa-pencil" onclick="loadResourceAction(this)" data-url="@Url.Action("Editar", "Recursos", new { id = item.ResourceID })" title="Editar"></i>
                        <i title="Remover" class="fa fa-remove" onclick="removeRecord(this, 'resources')" data-url="@Url.Action("Remover", "Recursos", new { id = item.ResourceID })"></i>
                        
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <br />
        <input type="button" value="Nuevo Recurso" onclick="location.href='@Url.Action("Crear", "Recursos")'" />
   
</div>

<div id="resourceModal"></div>
<script src="~/Scripts/myScripts.js"></script>
<script>
    $(document).ready(function () {

        $('#resources').DataTable({
            "sDom": '<"top"lf>t<"bottom"ipr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "iDisplayLength": 12,
            "aaSorting": [[1, "asc"]],
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": 2
                }


            ]
        });
    });

    $('#resourceModal').dialog({
        autoOpen: false,
        width: 400,
        resizable: false,
        modal: true,
        draggable: false
    });

</script>